body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42609_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u42609 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u42610 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42611 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u42611_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42611_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42612 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u42613 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u42614 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u42615 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u42616 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u42617 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u42618 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42619 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u42619_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42619_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42620 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u42621 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u42622 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u42623 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u42624 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u42625 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u42626 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u42628 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u42629 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u42630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u42630 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u42631 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u42632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u42632 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u42633 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u42634 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u42635 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u42636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u42636 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u42637 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u42638 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42639 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u42640 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u42641 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u42642 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42643 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u42644 {
  position:absolute;
  left:90px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u42645 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  white-space:nowrap;
}
#u42646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u42646 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u42647 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u42648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42650 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42651 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u42653 {
  position:absolute;
  left:68px;
  top:268px;
  width:320px;
  height:41px;
  font-size:14px;
}
#u42654 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u42655 {
  position:absolute;
  left:80px;
  top:279px;
  width:57px;
  height:17px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u42656 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u42657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#949494;
}
#u42657 {
  position:absolute;
  left:318px;
  top:279px;
  width:29px;
  height:17px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#949494;
}
#u42658 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u42659 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:163px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u42662 {
  position:absolute;
  left:68px;
  top:308px;
  width:320px;
  height:163px;
  font-size:14px;
}
#u42663 {
  position:absolute;
  left:2px;
  top:74px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u42664 {
  position:absolute;
  left:80px;
  top:319px;
  width:71px;
  height:17px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u42665 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u42666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u42667 {
  position:absolute;
  left:80px;
  top:339px;
  width:294px;
  height:117px;
  font-size:14px;
}
#u42668 {
  position:absolute;
  left:2px;
  top:50px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#BFCDDA;
}
#u42669 {
  position:absolute;
  left:93px;
  top:348px;
  width:270px;
  height:96px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#BFCDDA;
}
#u42670 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u42671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42672 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42673 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u42674 {
  position:absolute;
  left:68px;
  top:470px;
  width:320px;
  height:188px;
  font-size:14px;
}
#u42675 {
  position:absolute;
  left:2px;
  top:86px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u42676 {
  position:absolute;
  left:80px;
  top:481px;
  width:57px;
  height:17px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u42677 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u42678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u42679 {
  position:absolute;
  left:80px;
  top:515px;
  width:60px;
  height:60px;
  font-size:12px;
}
#u42680 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u42681 {
  position:absolute;
  left:84px;
  top:532px;
  width:53px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u42682 {
  position:absolute;
  left:0px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u42683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:114px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42683 {
  position:absolute;
  left:78px;
  top:688px;
  width:300px;
  height:37px;
}
#u42684 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u42685 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42686 {
  position:absolute;
  left:68px;
  top:219px;
  width:320px;
  height:49px;
}
#u42687 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u42688 {
  position:absolute;
  left:186px;
  top:244px;
  width:83px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u42689 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u42690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u42690 {
  position:absolute;
  left:75px;
  top:241px;
  width:19px;
  height:19px;
}
#u42691 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
