body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:552px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53835 {
  position:absolute;
  left:-1px;
  top:1px;
  width:320px;
  height:552px;
}
#u53836 {
  position:absolute;
  left:2px;
  top:268px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  background:inherit;
  background-color:rgba(139, 156, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u53837 {
  position:absolute;
  left:-1px;
  top:1px;
  width:320px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u53838 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53840 {
  position:absolute;
  left:19px;
  top:21px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u53841 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53842 {
  position:absolute;
  left:19px;
  top:28px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u53843 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53845 {
  position:absolute;
  left:-1px;
  top:39px;
  width:320px;
  height:74px;
}
#u53846 {
  position:absolute;
  left:2px;
  top:29px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53847 {
  position:absolute;
  left:14px;
  top:48px;
  width:20px;
  height:20px;
  font-size:8px;
}
#u53848 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  word-wrap:break-word;
}
#u53849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u53849 {
  position:absolute;
  left:43px;
  top:49px;
  width:35px;
  height:20px;
  font-size:17px;
  color:#000000;
}
#u53850 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u53851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u53852 {
  position:absolute;
  left:43px;
  top:75px;
  width:14px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53853 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u53854 {
  position:absolute;
  left:56px;
  top:75px;
  width:14px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53855 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u53856 {
  position:absolute;
  left:69px;
  top:75px;
  width:14px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53857 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u53858 {
  position:absolute;
  left:83px;
  top:75px;
  width:14px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53859 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u53860 {
  position:absolute;
  left:95px;
  top:75px;
  width:14px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53861 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u53862 {
  position:absolute;
  left:14px;
  top:77px;
  width:34px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u53863 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u53864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u53864 {
  position:absolute;
  left:14px;
  top:94px;
  width:86px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u53865 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
