body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-512px;
  width:1184px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u101 {
  position:absolute;
  left:512px;
  top:136px;
  width:1189px;
  height:1104px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u103 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:30px;
}
#u104 {
  position:absolute;
  left:120px;
  top:0px;
  width:341px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u105 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:30px;
}
#u106 {
  position:absolute;
  left:461px;
  top:0px;
  width:723px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u107 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u108 {
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
}
#u110 {
  position:absolute;
  left:120px;
  top:30px;
  width:341px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u111 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:40px;
}
#u112 {
  position:absolute;
  left:461px;
  top:30px;
  width:723px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:719px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u114 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u115 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
}
#u116 {
  position:absolute;
  left:120px;
  top:70px;
  width:341px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u117 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:40px;
}
#u118 {
  position:absolute;
  left:461px;
  top:70px;
  width:723px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:719px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u120 {
  position:absolute;
  left:0px;
  top:110px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u121 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
}
#u122 {
  position:absolute;
  left:120px;
  top:110px;
  width:341px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:40px;
}
#u124 {
  position:absolute;
  left:461px;
  top:110px;
  width:723px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:719px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u126 {
  position:absolute;
  left:0px;
  top:150px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u127 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
}
#u128 {
  position:absolute;
  left:120px;
  top:150px;
  width:341px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:40px;
}
#u130 {
  position:absolute;
  left:461px;
  top:150px;
  width:723px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u131 {
  position:absolute;
  left:2px;
  top:10px;
  width:719px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u132 {
  position:absolute;
  left:0px;
  top:190px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u133 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
}
#u134 {
  position:absolute;
  left:120px;
  top:190px;
  width:341px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u135 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:40px;
}
#u136 {
  position:absolute;
  left:461px;
  top:190px;
  width:723px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:719px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u138 {
  position:absolute;
  left:0px;
  top:230px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u139 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
}
#u140 {
  position:absolute;
  left:120px;
  top:230px;
  width:341px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u141 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:40px;
}
#u142 {
  position:absolute;
  left:461px;
  top:230px;
  width:723px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u143 {
  position:absolute;
  left:2px;
  top:10px;
  width:719px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u144 {
  position:absolute;
  left:0px;
  top:270px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u145 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
}
#u146 {
  position:absolute;
  left:120px;
  top:270px;
  width:341px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u147 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:40px;
}
#u148 {
  position:absolute;
  left:461px;
  top:270px;
  width:723px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u149 {
  position:absolute;
  left:2px;
  top:10px;
  width:719px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u150 {
  position:absolute;
  left:0px;
  top:310px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u151 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
}
#u152 {
  position:absolute;
  left:120px;
  top:310px;
  width:341px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u153 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:40px;
}
#u154 {
  position:absolute;
  left:461px;
  top:310px;
  width:723px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u155 {
  position:absolute;
  left:2px;
  top:10px;
  width:719px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:61px;
}
#u156 {
  position:absolute;
  left:0px;
  top:350px;
  width:120px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u157 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:61px;
}
#u158 {
  position:absolute;
  left:120px;
  top:350px;
  width:341px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u159 {
  position:absolute;
  left:2px;
  top:21px;
  width:337px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:61px;
}
#u160 {
  position:absolute;
  left:461px;
  top:350px;
  width:723px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u161 {
  position:absolute;
  left:2px;
  top:2px;
  width:719px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u162 {
  position:absolute;
  left:0px;
  top:411px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u163 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
}
#u164 {
  position:absolute;
  left:120px;
  top:411px;
  width:341px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u165 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:40px;
}
#u166 {
  position:absolute;
  left:461px;
  top:411px;
  width:723px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u167 {
  position:absolute;
  left:2px;
  top:10px;
  width:719px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u168 {
  position:absolute;
  left:0px;
  top:451px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u169 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
}
#u170 {
  position:absolute;
  left:120px;
  top:451px;
  width:341px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u171 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:40px;
}
#u172 {
  position:absolute;
  left:461px;
  top:451px;
  width:723px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u173 {
  position:absolute;
  left:2px;
  top:10px;
  width:719px;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u174 {
  position:absolute;
  left:0px;
  top:491px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u175 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u176 {
  position:absolute;
  left:120px;
  top:491px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u177 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u178 {
  position:absolute;
  left:461px;
  top:491px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u179 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u180 {
  position:absolute;
  left:0px;
  top:523px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u181 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u182 {
  position:absolute;
  left:120px;
  top:523px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u183 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u184 {
  position:absolute;
  left:461px;
  top:523px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u185 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u186 {
  position:absolute;
  left:0px;
  top:555px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u187 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u188 {
  position:absolute;
  left:120px;
  top:555px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u189 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u190 {
  position:absolute;
  left:461px;
  top:555px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u191 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u192 {
  position:absolute;
  left:0px;
  top:587px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u193 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u194 {
  position:absolute;
  left:120px;
  top:587px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u195 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u196 {
  position:absolute;
  left:461px;
  top:587px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u197 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u198 {
  position:absolute;
  left:0px;
  top:619px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u199 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u200 {
  position:absolute;
  left:120px;
  top:619px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u201 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u202 {
  position:absolute;
  left:461px;
  top:619px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u203 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u204 {
  position:absolute;
  left:0px;
  top:651px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u205 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u206 {
  position:absolute;
  left:120px;
  top:651px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u207 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u208 {
  position:absolute;
  left:461px;
  top:651px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u209 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u210 {
  position:absolute;
  left:0px;
  top:683px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u211 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u212 {
  position:absolute;
  left:120px;
  top:683px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u213 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u214 {
  position:absolute;
  left:461px;
  top:683px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u215 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u216 {
  position:absolute;
  left:0px;
  top:715px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u217 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u218 {
  position:absolute;
  left:120px;
  top:715px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u219 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u220 {
  position:absolute;
  left:461px;
  top:715px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u221 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u222 {
  position:absolute;
  left:0px;
  top:747px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u223 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u224 {
  position:absolute;
  left:120px;
  top:747px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u225 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u226 {
  position:absolute;
  left:461px;
  top:747px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u227 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u228 {
  position:absolute;
  left:0px;
  top:779px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u229 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u230 {
  position:absolute;
  left:120px;
  top:779px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u231 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u232 {
  position:absolute;
  left:461px;
  top:779px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u233 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u234 {
  position:absolute;
  left:0px;
  top:811px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u235 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u236 {
  position:absolute;
  left:120px;
  top:811px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u237 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u238 {
  position:absolute;
  left:461px;
  top:811px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u239 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u240 {
  position:absolute;
  left:0px;
  top:843px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u241 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u242 {
  position:absolute;
  left:120px;
  top:843px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u243 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u244 {
  position:absolute;
  left:461px;
  top:843px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u245 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u246 {
  position:absolute;
  left:0px;
  top:875px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u247 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u248 {
  position:absolute;
  left:120px;
  top:875px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u249 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u250 {
  position:absolute;
  left:461px;
  top:875px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u251 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u252 {
  position:absolute;
  left:0px;
  top:907px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u253 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u254 {
  position:absolute;
  left:120px;
  top:907px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u255 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u256 {
  position:absolute;
  left:461px;
  top:907px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u257 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u258 {
  position:absolute;
  left:0px;
  top:939px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u259 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u260 {
  position:absolute;
  left:120px;
  top:939px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u261 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u262 {
  position:absolute;
  left:461px;
  top:939px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u263 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u264 {
  position:absolute;
  left:0px;
  top:971px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u265 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u266 {
  position:absolute;
  left:120px;
  top:971px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u267 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u268 {
  position:absolute;
  left:461px;
  top:971px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u269 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u270 {
  position:absolute;
  left:0px;
  top:1003px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u271 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u272 {
  position:absolute;
  left:120px;
  top:1003px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u273 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u274 {
  position:absolute;
  left:461px;
  top:1003px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u275 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u276 {
  position:absolute;
  left:0px;
  top:1035px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u277 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u278 {
  position:absolute;
  left:120px;
  top:1035px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u279 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u280 {
  position:absolute;
  left:461px;
  top:1035px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u281 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u282 {
  position:absolute;
  left:0px;
  top:1067px;
  width:120px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u283 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u284 {
  position:absolute;
  left:120px;
  top:1067px;
  width:341px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u285 {
  position:absolute;
  left:2px;
  top:6px;
  width:337px;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:32px;
}
#u286 {
  position:absolute;
  left:461px;
  top:1067px;
  width:723px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u287 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:57px;
  background:inherit;
  background-color:rgba(39, 56, 75, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u288 {
  position:absolute;
  left:512px;
  top:80px;
  width:1184px;
  height:57px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u289 {
  position:absolute;
  left:2px;
  top:10px;
  width:1180px;
  word-wrap:break-word;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:419px;
  background:inherit;
  background-color:rgba(240, 255, 210, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u290 {
  position:absolute;
  left:512px;
  top:206px;
  width:121px;
  height:419px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u291 {
  position:absolute;
  left:2px;
  top:200px;
  width:117px;
  word-wrap:break-word;
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 210, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u292 {
  position:absolute;
  left:512px;
  top:625px;
  width:121px;
  height:128px;
}
#u293 {
  position:absolute;
  left:2px;
  top:56px;
  width:117px;
  word-wrap:break-word;
}
#u294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:161px;
  background:inherit;
  background-color:rgba(254, 216, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u294 {
  position:absolute;
  left:512px;
  top:753px;
  width:121px;
  height:161px;
}
#u295 {
  position:absolute;
  left:2px;
  top:72px;
  width:117px;
  word-wrap:break-word;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:319px;
  background:inherit;
  background-color:rgba(164, 255, 207, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u296 {
  position:absolute;
  left:512px;
  top:914px;
  width:121px;
  height:319px;
}
#u297 {
  position:absolute;
  left:2px;
  top:152px;
  width:117px;
  word-wrap:break-word;
}
