body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34939_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u34939 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u34940 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34941 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u34941_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34941_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34942 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u34943 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u34944 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u34945 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u34946 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u34947 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u34948 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34949 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u34949_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34949_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34950 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u34951 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u34952 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u34953 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u34954 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u34955 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u34956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u34958 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u34959 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u34960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u34960 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u34961 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u34962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u34962 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u34963 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34964 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34965 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u34966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u34966 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u34967 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u34968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34969 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u34970 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u34971 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u34972 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u34974 {
  position:absolute;
  left:90px;
  top:100px;
  width:159px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u34975 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  white-space:nowrap;
}
#u34976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u34976 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u34977 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u34979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34981 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:42px;
}
#u34982 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u34983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34984 {
  position:absolute;
  left:77px;
  top:227px;
  width:15px;
  height:25px;
}
#u34985 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34987 {
  position:absolute;
  left:78px;
  top:234px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u34988 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34989 {
  position:absolute;
  left:78px;
  top:242px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u34990 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:508px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34991 {
  position:absolute;
  left:68px;
  top:261px;
  width:320px;
  height:508px;
}
#u34992 {
  position:absolute;
  left:2px;
  top:246px;
  width:316px;
  word-wrap:break-word;
}
#u34993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34993 {
  position:absolute;
  left:68px;
  top:723px;
  width:320px;
  height:46px;
}
#u34994 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u34995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u34996 {
  position:absolute;
  left:500px;
  top:588px;
  width:280px;
  height:180px;
  font-size:14px;
}
#u34997 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u34998 {
  position:absolute;
  left:500px;
  top:710px;
  width:280px;
  height:1px;
  font-size:14px;
}
#u34999 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u35000 {
  position:absolute;
  left:500px;
  top:710px;
  width:280px;
  height:1px;
  font-size:14px;
}
#u35001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u35002 {
  position:absolute;
  left:598px;
  top:738px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u35003 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u35004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u35004 {
  position:absolute;
  left:588px;
  top:601px;
  width:102px;
  height:33px;
  font-size:14px;
  text-align:center;
}
#u35005 {
  position:absolute;
  left:0px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u35006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u35006 {
  position:absolute;
  left:513px;
  top:644px;
  width:247px;
  height:48px;
  font-size:14px;
}
#u35007 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u35008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u35008 {
  position:absolute;
  left:500px;
  top:562px;
  width:295px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u35009 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u35010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35010 {
  position:absolute;
  left:500px;
  top:413px;
  width:274px;
  height:46px;
}
#u35011 {
  position:absolute;
  left:2px;
  top:15px;
  width:270px;
  word-wrap:break-word;
}
