body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42003_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u42003 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u42004 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42005 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u42005_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42005_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42006 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u42007 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u42008 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u42009 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u42010 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u42011 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u42012 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42013 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u42013_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42013_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42014 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u42015 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u42016 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u42017 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u42018 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u42019 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u42020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u42022 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u42023 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u42024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u42024 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u42025 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u42026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u42026 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u42027 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u42028 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u42029 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u42030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u42030 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u42031 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u42032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42033 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u42034 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u42035 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u42036 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u42038 {
  position:absolute;
  left:90px;
  top:100px;
  width:89px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u42039 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  white-space:nowrap;
}
#u42040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u42040 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u42041 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u42043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u42043 {
  position:absolute;
  left:67px;
  top:218px;
  width:320px;
  height:543px;
  font-size:14px;
}
#u42044 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u42046 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:35px;
  font-size:16px;
  color:#000000;
}
#u42047 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u42048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u42048 {
  position:absolute;
  left:75px;
  top:227px;
  width:19px;
  height:19px;
}
#u42049 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u42051 {
  position:absolute;
  left:67px;
  top:251px;
  width:320px;
  height:91px;
  font-size:14px;
}
#u42052 {
  position:absolute;
  left:2px;
  top:38px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#99AAB3;
}
#u42055 {
  position:absolute;
  left:81px;
  top:288px;
  width:121px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#99AAB3;
}
#u42056 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u42057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u42057 {
  position:absolute;
  left:81px;
  top:308px;
  width:48px;
  height:19px;
  font-size:12px;
  color:#AEAEAE;
}
#u42058 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u42059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u42059 {
  position:absolute;
  left:144px;
  top:308px;
  width:40px;
  height:19px;
  font-size:12px;
  color:#AEAEAE;
}
#u42060 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u42061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u42061 {
  position:absolute;
  left:81px;
  top:264px;
  width:77px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u42062 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u42063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u42064 {
  position:absolute;
  left:67px;
  top:341px;
  width:320px;
  height:92px;
  font-size:14px;
}
#u42065 {
  position:absolute;
  left:2px;
  top:38px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(107, 107, 107, 0.819607843137255);
}
#u42067 {
  position:absolute;
  left:81px;
  top:393px;
  width:151px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(107, 107, 107, 0.819607843137255);
}
#u42068 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u42069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u42069 {
  position:absolute;
  left:81px;
  top:365px;
  width:169px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u42070 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u42071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u42071 {
  position:absolute;
  left:285px;
  top:289px;
  width:92px;
  height:16px;
}
#u42072 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u42073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u42073 {
  position:absolute;
  left:285px;
  top:379px;
  width:92px;
  height:16px;
}
#u42074 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
