body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-22.5px;
  width:707px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u40012 {
  position:absolute;
  left:196px;
  top:-82px;
  width:360px;
  height:707px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u40013 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(211, 219, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40014 {
  position:absolute;
  left:227px;
  top:-15px;
  width:320px;
  height:568px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u40015 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u40017 {
  position:absolute;
  left:49px;
  top:45px;
  width:61px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u40018 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  white-space:nowrap;
}
#u40019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u40019 {
  position:absolute;
  left:23px;
  top:45px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u40020 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  white-space:nowrap;
}
#u40021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:320px;
}
#u40025 {
  position:absolute;
  left:103px;
  top:109px;
  width:42px;
  height:320px;
  font-size:16px;
}
#u40026 {
  position:absolute;
  left:-137px;
  top:150px;
  width:316px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
  transform-origin:158px 10px;
  -ms-transform-origin:158px 10px;
  -moz-transform-origin:158px 10px;
  -webkit-transform-origin:158px 10px;
}
#u40027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40029 {
  position:absolute;
  left:121px;
  top:413px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u40030 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40031 {
  position:absolute;
  left:113px;
  top:413px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u40032 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:320px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u40033 {
  position:absolute;
  left:145px;
  top:109px;
  width:526px;
  height:320px;
  font-size:28px;
  color:#FFFFFF;
}
#u40034 {
  position:absolute;
  left:2px;
  top:144px;
  width:522px;
  word-wrap:break-word;
}
#u40035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u40035 {
  position:absolute;
  left:166px;
  top:122px;
  width:100px;
  height:16px;
}
#u40036 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u40037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u40037 {
  position:absolute;
  left:166px;
  top:144px;
  width:87px;
  height:16px;
}
#u40038 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u40039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u40040 {
  position:absolute;
  left:551px;
  top:383px;
  width:110px;
  height:39px;
  font-size:14px;
  color:#1E1E1E;
}
#u40041 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
  text-align:center;
}
#u40042 {
  position:absolute;
  left:596px;
  top:396px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
  text-align:center;
}
#u40043 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u40044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u40045 {
  position:absolute;
  left:436px;
  top:383px;
  width:110px;
  height:39px;
  font-size:14px;
  color:#1E1E1E;
}
#u40046 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
  text-align:center;
}
#u40047 {
  position:absolute;
  left:484px;
  top:396px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
  text-align:center;
}
#u40048 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
