body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36837_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u36837 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u36838 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36839 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u36839_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36839_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36840 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u36841 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u36842 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u36843 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u36844 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u36845 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u36846 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36847 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u36847_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36847_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36848 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u36849 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u36850 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u36851 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u36852 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u36853 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u36854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u36856 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u36857 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u36858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u36858 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u36859 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u36860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u36860 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u36861 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u36862 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u36863 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u36864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u36864 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u36865 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u36866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36867 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u36868 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u36869 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u36870 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u36872 {
  position:absolute;
  left:90px;
  top:100px;
  width:159px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u36873 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  white-space:nowrap;
}
#u36874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u36874 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u36875 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u36876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u36876 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:550px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u36877 {
  position:absolute;
  left:2px;
  top:267px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u36878 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u36879 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u36880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36881 {
  position:absolute;
  left:80px;
  top:232px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u36882 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36883 {
  position:absolute;
  left:80px;
  top:239px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u36884 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36885 {
  position:absolute;
  left:68px;
  top:253px;
  width:320px;
  height:478px;
  overflow:hidden;
}
#u36885_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:478px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36885_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36886 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2403px;
  overflow:hidden;
  touch-action:none;
}
#u36886_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2403px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36886_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1827px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u36888 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1827px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u36889 {
  position:absolute;
  left:2px;
  top:906px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1329px;
}
#u36890 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:1329px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#434343;
  line-height:24px;
}
#u36891 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u36892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:100px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u36894 {
  position:absolute;
  left:10px;
  top:1323px;
  width:256px;
  height:100px;
  font-size:16px;
}
#u36895 {
  position:absolute;
  left:2px;
  top:42px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u36896 {
  position:absolute;
  left:10px;
  top:1302px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u36897 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u36898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u36898 {
  position:absolute;
  left:10px;
  top:1429px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u36899 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u36900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:100px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u36902 {
  position:absolute;
  left:10px;
  top:1483px;
  width:256px;
  height:100px;
  font-size:16px;
}
#u36903 {
  position:absolute;
  left:2px;
  top:42px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u36904 {
  position:absolute;
  left:10px;
  top:1462px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u36905 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u36906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u36906 {
  position:absolute;
  left:10px;
  top:1589px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u36907 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u36908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:100px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u36910 {
  position:absolute;
  left:10px;
  top:1652px;
  width:256px;
  height:100px;
  font-size:16px;
}
#u36911 {
  position:absolute;
  left:2px;
  top:42px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:15px;
}
#u36912 {
  position:absolute;
  left:10px;
  top:1631px;
  width:223px;
  height:15px;
  font-size:12px;
}
#u36913 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u36914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u36914 {
  position:absolute;
  left:10px;
  top:1758px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u36915 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u36916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
}
#u36916 {
  position:absolute;
  left:68px;
  top:731px;
  width:320px;
  height:37px;
  font-size:12px;
  color:#000000;
}
#u36917 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u36918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u36918 {
  position:absolute;
  left:578px;
  top:700px;
  width:142px;
  height:38px;
  font-size:11px;
}
#u36919 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u36920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u36920 {
  position:absolute;
  left:436px;
  top:686px;
  width:13px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u36921 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  visibility:hidden;
  white-space:nowrap;
}
#u36922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u36922 {
  position:absolute;
  left:436px;
  top:700px;
  width:142px;
  height:38px;
  font-size:11px;
}
#u36923 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u36924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
}
#u36925 {
  position:absolute;
  left:751px;
  top:693px;
  width:280px;
  height:45px;
  opacity:0.600000023841858;
  font-size:14px;
  color:#FFFFFF;
}
#u36926 {
  position:absolute;
  left:2px;
  top:14px;
  width:276px;
  word-wrap:break-word;
}
#u36927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u36927 {
  position:absolute;
  left:751px;
  top:668px;
  width:150px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u36928 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u36929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u36929 {
  position:absolute;
  left:436px;
  top:661px;
  width:157px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u36930 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
