body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48500_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u48500 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u48501 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48502 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u48502_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48502_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48503 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u48504 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u48505 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u48506 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u48507 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u48508 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u48509 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48510 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u48510_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48510_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48511 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u48512 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u48513 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u48514 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u48515 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u48516 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u48517 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48518 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u48519 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u48520 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u48521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u48521 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u48522 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u48523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u48523 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u48524 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u48525 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u48526 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u48527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u48527 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u48528 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u48529 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48530 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u48531 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u48532 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u48533 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:62px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u48534 {
  position:absolute;
  left:500px;
  top:706px;
  width:260px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u48535 {
  position:absolute;
  left:2px;
  top:23px;
  width:256px;
  word-wrap:break-word;
}
#u48536 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u48537 {
  position:absolute;
  left:90px;
  top:100px;
  width:159px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u48538 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  white-space:nowrap;
}
#u48539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u48539 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u48540 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u48542 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48543 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48544 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:42px;
}
#u48545 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u48546 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48547 {
  position:absolute;
  left:77px;
  top:227px;
  width:15px;
  height:25px;
}
#u48548 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48549 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48550 {
  position:absolute;
  left:78px;
  top:234px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u48551 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48552 {
  position:absolute;
  left:78px;
  top:242px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u48553 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:508px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48554 {
  position:absolute;
  left:68px;
  top:261px;
  width:320px;
  height:508px;
}
#u48555 {
  position:absolute;
  left:2px;
  top:246px;
  width:316px;
  word-wrap:break-word;
}
#u48556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48556 {
  position:absolute;
  left:68px;
  top:723px;
  width:320px;
  height:46px;
}
#u48557 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u48558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u48558 {
  position:absolute;
  left:501px;
  top:660px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u48559 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u48560 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u48561 {
  position:absolute;
  left:500px;
  top:423px;
  width:280px;
  height:180px;
  font-size:14px;
}
#u48562 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u48563 {
  position:absolute;
  left:500px;
  top:545px;
  width:280px;
  height:1px;
  font-size:14px;
}
#u48564 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u48565 {
  position:absolute;
  left:500px;
  top:545px;
  width:280px;
  height:1px;
  font-size:14px;
}
#u48566 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u48567 {
  position:absolute;
  left:598px;
  top:573px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u48568 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u48569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u48569 {
  position:absolute;
  left:588px;
  top:436px;
  width:102px;
  height:33px;
  font-size:14px;
  text-align:center;
}
#u48570 {
  position:absolute;
  left:0px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u48571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u48571 {
  position:absolute;
  left:513px;
  top:479px;
  width:247px;
  height:48px;
  font-size:14px;
}
#u48572 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u48573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u48573 {
  position:absolute;
  left:500px;
  top:397px;
  width:295px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u48574 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u48575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u48575 {
  position:absolute;
  left:347px;
  top:231px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u48576 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
