body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:323px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:554px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u50910 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:554px;
  text-align:left;
}
#u50911 {
  position:absolute;
  left:2px;
  top:269px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50912 {
  position:absolute;
  left:3px;
  top:0px;
  width:320px;
  height:38px;
}
#u50913 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50915 {
  position:absolute;
  left:14px;
  top:14px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u50916 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50917 {
  position:absolute;
  left:14px;
  top:21px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u50918 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u50919 {
  position:absolute;
  left:157px;
  top:12px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u50920 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u50921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u50922 {
  position:absolute;
  left:292px;
  top:12px;
  width:5px;
  height:5px;
}
#u50923 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u50924 {
  position:absolute;
  left:300px;
  top:12px;
  width:5px;
  height:5px;
}
#u50925 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u50926 {
  position:absolute;
  left:307px;
  top:12px;
  width:5px;
  height:5px;
}
#u50927 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50929 {
  position:absolute;
  left:238px;
  top:38px;
  width:85px;
  height:27px;
}
#u50930 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u50932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50933 {
  position:absolute;
  left:1px;
  top:38px;
  width:320px;
  height:225px;
}
#u50934 {
  position:absolute;
  left:2px;
  top:104px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u50935 {
  position:absolute;
  left:168px;
  top:202px;
  width:61px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u50936 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u50937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u50937 {
  position:absolute;
  left:128px;
  top:104px;
  width:42px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u50938 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u50939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u50939 {
  position:absolute;
  left:36px;
  top:105px;
  width:42px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u50940 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u50941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u50941 {
  position:absolute;
  left:228px;
  top:104px;
  width:42px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u50942 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u50943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50943 {
  position:absolute;
  left:239px;
  top:202px;
  width:41px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50944 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u50945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50945 {
  position:absolute;
  left:82px;
  top:202px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50946 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u50947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  text-align:center;
}
#u50947 {
  position:absolute;
  left:181px;
  top:61px;
  width:59px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  text-align:center;
}
#u50948 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u50949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50949 {
  position:absolute;
  left:128px;
  top:129px;
  width:41px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50950 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u50951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50951 {
  position:absolute;
  left:36px;
  top:130px;
  width:53px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50952 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50953 {
  position:absolute;
  left:226px;
  top:129px;
  width:44px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50954 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u50955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50955 {
  position:absolute;
  left:239px;
  top:173px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50956 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u50957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50957 {
  position:absolute;
  left:82px;
  top:173px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u50958 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u50959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u50959 {
  position:absolute;
  left:17px;
  top:202px;
  width:61px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u50960 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u50961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u50961 {
  position:absolute;
  left:192px;
  top:173px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u50962 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u50963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u50963 {
  position:absolute;
  left:17px;
  top:173px;
  width:61px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u50964 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u50965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u50965 {
  position:absolute;
  left:17px;
  top:229px;
  width:85px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u50966 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u50967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  text-align:center;
}
#u50967 {
  position:absolute;
  left:177px;
  top:229px;
  width:13px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  text-align:center;
}
#u50968 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u50969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  text-align:center;
}
#u50969 {
  position:absolute;
  left:247px;
  top:61px;
  width:59px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  text-align:center;
}
#u50970 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u50971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u50971 {
  position:absolute;
  left:14px;
  top:57px;
  width:161px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u50972 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u50973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:1px;
}
#u50973 {
  position:absolute;
  left:14px;
  top:90px;
  width:290px;
  height:1px;
}
#u50974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:50px;
}
#u50975 {
  position:absolute;
  left:198px;
  top:99px;
  width:1px;
  height:50px;
}
#u50976 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:50px;
}
#u50977 {
  position:absolute;
  left:106px;
  top:99px;
  width:1px;
  height:50px;
}
#u50978 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:1px;
}
#u50979 {
  position:absolute;
  left:14px;
  top:162px;
  width:290px;
  height:1px;
}
#u50980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u50982 {
  position:absolute;
  left:0px;
  top:368px;
  width:320px;
  height:34px;
  font-size:14px;
  text-align:left;
}
#u50983 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u50985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:95px;
}
#u50986 {
  position:absolute;
  left:0px;
  top:402px;
  width:320px;
  height:95px;
}
#u50987 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u50988 {
  position:absolute;
  left:97px;
  top:415px;
  width:67px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u50989 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u50990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u50990 {
  position:absolute;
  left:170px;
  top:417px;
  width:31px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u50991 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u50992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u50992 {
  position:absolute;
  left:15px;
  top:413px;
  width:68px;
  height:68px;
  font-size:11px;
}
#u50993 {
  position:absolute;
  left:2px;
  top:20px;
  width:64px;
  word-wrap:break-word;
}
#u50994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u50994 {
  position:absolute;
  left:97px;
  top:442px;
  width:64px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u50995 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u50996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u50996 {
  position:absolute;
  left:97px;
  top:466px;
  width:86px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u50997 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u50998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u50998 {
  position:absolute;
  left:210px;
  top:466px;
  width:78px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u50999 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u51000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51000 {
  position:absolute;
  left:234px;
  top:413px;
  width:50px;
  height:50px;
}
#u51001 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  word-wrap:break-word;
}
#u51003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
}
#u51003 {
  position:absolute;
  left:1px;
  top:511px;
  width:320px;
  height:43px;
}
#u51004 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
}
#u51005 {
  position:absolute;
  left:229px;
  top:511px;
  width:92px;
  height:43px;
  font-size:11px;
}
#u51006 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u51007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
}
#u51007 {
  position:absolute;
  left:137px;
  top:511px;
  width:92px;
  height:43px;
  font-size:11px;
}
#u51008 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u51009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u51010 {
  position:absolute;
  left:1px;
  top:511px;
  width:45px;
  height:43px;
}
#u51011 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u51012 {
  position:absolute;
  left:14px;
  top:523px;
  width:19px;
  height:19px;
  line-height:6px;
}
#u51013 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
}
#u51014 {
  position:absolute;
  left:46px;
  top:511px;
  width:92px;
  height:43px;
  font-size:11px;
}
#u51015 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u51016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u51016 {
  position:absolute;
  left:0px;
  top:263px;
  width:320px;
  height:20px;
  text-align:left;
}
#u51017 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u51018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u51018 {
  position:absolute;
  left:0px;
  top:283px;
  width:320px;
  height:85px;
  text-align:left;
}
#u51019 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(107, 107, 107, 0.819607843137255);
}
#u51021 {
  position:absolute;
  left:15px;
  top:337px;
  width:151px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(107, 107, 107, 0.819607843137255);
}
#u51022 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u51023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u51023 {
  position:absolute;
  left:15px;
  top:309px;
  width:169px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u51024 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
