body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28965_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u28965 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u28966 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28967 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u28967_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28967_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28968 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u28969 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u28970 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u28971 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u28972 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u28973 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28974 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28975 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u28975_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28975_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28976 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u28977 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u28978 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u28979 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u28980 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u28981 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u28984 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u28985 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u28986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u28986 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u28987 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u28988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u28988 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u28989 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28990 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28991 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u28992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u28992 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u28993 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u28994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28995 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u28996 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u28997 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u28998 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u29000 {
  position:absolute;
  left:90px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u29001 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  white-space:nowrap;
}
#u29002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u29002 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u29003 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u29005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:552px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29006 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:552px;
}
#u29007 {
  position:absolute;
  left:2px;
  top:268px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29008 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:38px;
}
#u29009 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29012 {
  position:absolute;
  left:68px;
  top:254px;
  width:320px;
  height:59px;
}
#u29013 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u29014 {
  position:absolute;
  left:81px;
  top:262px;
  width:44px;
  height:44px;
  font-size:11px;
}
#u29015 {
  position:absolute;
  left:2px;
  top:15px;
  width:40px;
  word-wrap:break-word;
}
#u29016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u29016 {
  position:absolute;
  left:131px;
  top:264px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u29017 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u29018 {
  position:absolute;
  left:131px;
  top:287px;
  width:75px;
  height:14px;
  font-size:11px;
  color:#AEAEAE;
}
#u29019 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u29020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:14px;
}
#u29020 {
  position:absolute;
  left:296px;
  top:269px;
  width:91px;
  height:14px;
  font-size:11px;
  color:#CCCCCC;
}
#u29021 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u29022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u29023 {
  position:absolute;
  left:68px;
  top:728px;
  width:320px;
  height:44px;
}
#u29024 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u29025 {
  position:absolute;
  left:203px;
  top:720px;
  width:51px;
  height:51px;
}
#u29026 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:42px;
}
#u29027 {
  position:absolute;
  left:68px;
  top:729px;
  width:67px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u29028 {
  position:absolute;
  left:2px;
  top:13px;
  width:63px;
  word-wrap:break-word;
}
#u29029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
}
#u29029 {
  position:absolute;
  left:257px;
  top:729px;
  width:65px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u29030 {
  position:absolute;
  left:2px;
  top:13px;
  width:61px;
  word-wrap:break-word;
}
#u29031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:42px;
}
#u29031 {
  position:absolute;
  left:135px;
  top:729px;
  width:67px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u29032 {
  position:absolute;
  left:2px;
  top:13px;
  width:63px;
  word-wrap:break-word;
}
#u29033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
}
#u29033 {
  position:absolute;
  left:322px;
  top:729px;
  width:65px;
  height:42px;
  color:#949494;
}
#u29034 {
  position:absolute;
  left:2px;
  top:13px;
  width:61px;
  word-wrap:break-word;
}
#u29035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u29036 {
  position:absolute;
  left:207px;
  top:727px;
  width:43px;
  height:43px;
}
#u29037 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u29039 {
  position:absolute;
  left:228px;
  top:734px;
  width:2px;
  height:28px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u29040 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u29041 {
  position:absolute;
  left:228px;
  top:734px;
  width:2px;
  height:28px;
}
#u29042 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29043 {
  position:absolute;
  left:78px;
  top:627px;
  visibility:hidden;
}
#u29043_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u29043_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u29047 {
  position:absolute;
  left:5px;
  top:2px;
  width:40px;
  height:40px;
  color:#FFFFFF;
}
#u29048 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29049 {
  position:absolute;
  left:0px;
  top:51px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u29050 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u29052 {
  position:absolute;
  left:84px;
  top:2px;
  width:40px;
  height:40px;
  color:#FFFFFF;
}
#u29053 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29054 {
  position:absolute;
  left:81px;
  top:51px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u29055 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u29057 {
  position:absolute;
  left:242px;
  top:2px;
  width:40px;
  height:40px;
  color:#FFFFFF;
}
#u29058 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29059 {
  position:absolute;
  left:236px;
  top:51px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u29060 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u29062 {
  position:absolute;
  left:161px;
  top:2px;
  width:40px;
  height:40px;
  color:#FFFFFF;
}
#u29063 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29064 {
  position:absolute;
  left:156px;
  top:51px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u29065 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29068 {
  position:absolute;
  left:68px;
  top:312px;
  width:320px;
  height:59px;
}
#u29069 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u29070 {
  position:absolute;
  left:81px;
  top:320px;
  width:44px;
  height:44px;
  font-size:11px;
}
#u29071 {
  position:absolute;
  left:2px;
  top:15px;
  width:40px;
  word-wrap:break-word;
}
#u29072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u29072 {
  position:absolute;
  left:131px;
  top:322px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u29073 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u29074 {
  position:absolute;
  left:131px;
  top:345px;
  width:75px;
  height:14px;
  font-size:11px;
  color:#AEAEAE;
}
#u29075 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u29076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:14px;
}
#u29076 {
  position:absolute;
  left:296px;
  top:327px;
  width:91px;
  height:14px;
  font-size:11px;
  color:#CCCCCC;
}
#u29077 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u29078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29078 {
  position:absolute;
  left:68px;
  top:371px;
  width:320px;
  height:1px;
}
#u29079 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:27px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-right:0px;
  border-radius:34px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u29080 {
  position:absolute;
  left:227px;
  top:222px;
  width:68px;
  height:27px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
  color:#FFFFFF;
}
#u29081 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:32px 7.5px;
  -ms-transform-origin:32px 7.5px;
  -moz-transform-origin:32px 7.5px;
  -webkit-transform-origin:32px 7.5px;
}
#u29082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
}
#u29082 {
  position:absolute;
  left:159px;
  top:222px;
  width:68px;
  height:27px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
  color:#000000;
}
#u29083 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:32px 7.5px;
  -ms-transform-origin:32px 7.5px;
  -moz-transform-origin:32px 7.5px;
  -webkit-transform-origin:32px 7.5px;
}
#u29084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:80px;
}
#u29084 {
  position:absolute;
  left:500px;
  top:276px;
  width:168px;
  height:80px;
  color:#FFFFFF;
}
#u29085 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
