body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:554px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45165 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:554px;
}
#u45166 {
  position:absolute;
  left:2px;
  top:269px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45168 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u45169 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:27px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-right:0px;
  border-radius:30px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u45170 {
  position:absolute;
  left:95px;
  top:4px;
  width:68px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u45171 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u45172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
}
#u45172p000 {
  position:absolute;
  left:51px;
  top:19px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(-42deg);
  -moz-transform:rotate(-42deg);
  -ms-transform:rotate(-42deg);
  transform:rotate(-42deg);
}
#u45172p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:8px;
}
#u45172p001 {
  position:absolute;
  left:51px;
  top:2px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(-138deg);
  -moz-transform:rotate(-138deg);
  -ms-transform:rotate(-138deg);
  transform:rotate(-138deg);
}
#u45172p001_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:24px;
  height:8px;
}
#u45172p002 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:55px;
  height:2px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u45172p002_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:56px;
  height:4px;
}
#u45172p003 {
  position:absolute;
  left:-1px;
  top:26px;
  width:55px;
  height:2px;
}
#u45172p003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:4px;
}
#u45172.compound {
  width:0px;
  height:0px;
}
#u45172 {
  position:absolute;
  left:163px;
  top:4px;
  width:68px;
  height:27px;
  font-size:14px;
  color:#000000;
}
#u45173 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u45174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
}
#u45175 {
  position:absolute;
  left:0px;
  top:508px;
  width:81px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u45176 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u45177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
}
#u45177 {
  position:absolute;
  left:81px;
  top:508px;
  width:81px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u45178 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u45179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:46px;
}
#u45179 {
  position:absolute;
  left:162px;
  top:508px;
  width:79px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u45180 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u45181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:46px;
}
#u45181 {
  position:absolute;
  left:241px;
  top:508px;
  width:79px;
  height:46px;
  color:#515151;
}
#u45182 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u45184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45185 {
  position:absolute;
  left:0px;
  top:35px;
  width:320px;
  height:59px;
}
#u45186 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u45187 {
  position:absolute;
  left:13px;
  top:43px;
  width:44px;
  height:44px;
  font-size:11px;
}
#u45188 {
  position:absolute;
  left:2px;
  top:15px;
  width:40px;
  word-wrap:break-word;
}
#u45189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u45189 {
  position:absolute;
  left:63px;
  top:45px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u45190 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u45191 {
  position:absolute;
  left:63px;
  top:68px;
  width:75px;
  height:14px;
  font-size:11px;
  color:#AEAEAE;
}
#u45192 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u45193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:14px;
}
#u45193 {
  position:absolute;
  left:228px;
  top:50px;
  width:91px;
  height:14px;
  font-size:11px;
  color:#CCCCCC;
}
#u45194 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u45195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45195 {
  position:absolute;
  left:0px;
  top:94px;
  width:320px;
  height:1px;
}
#u45196 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
