body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51618 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51619 {
  position:absolute;
  left:0px;
  top:19px;
  width:314px;
  height:510px;
  overflow:hidden;
}
#u51619_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:510px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51619_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51620 {
  position:absolute;
  left:0px;
  top:18px;
  width:312px;
  height:490px;
  overflow:hidden;
}
#u51620_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:490px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51620_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51621 {
  position:absolute;
  left:-328px;
  top:-72px;
  touch-action:none;
}
#u51621_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u51621_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:750px;
}
#u51622 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:750px;
}
#u51623 {
  position:absolute;
  left:2px;
  top:367px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51624 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51625 {
  position:absolute;
  left:310px;
  top:131px;
  width:126px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51626 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u51627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u51627 {
  position:absolute;
  left:355px;
  top:165px;
  width:36px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u51628 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51629 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51630 {
  position:absolute;
  left:122px;
  top:301px;
  width:126px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51631 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u51632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u51632 {
  position:absolute;
  left:167px;
  top:335px;
  width:36px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u51633 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51634 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51635 {
  position:absolute;
  left:448px;
  top:216px;
  width:126px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51636 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u51637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u51637 {
  position:absolute;
  left:493px;
  top:250px;
  width:36px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u51638 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51640 {
  position:absolute;
  left:483px;
  top:351px;
  width:126px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51641 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u51642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u51642 {
  position:absolute;
  left:528px;
  top:385px;
  width:36px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u51643 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51644 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51645 {
  position:absolute;
  left:515px;
  top:483px;
  width:126px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51646 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u51647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u51647 {
  position:absolute;
  left:560px;
  top:517px;
  width:36px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u51648 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51650 {
  position:absolute;
  left:355px;
  top:494px;
  width:126px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51651 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u51652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u51652 {
  position:absolute;
  left:400px;
  top:528px;
  width:36px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u51653 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51655 {
  position:absolute;
  left:310px;
  top:368px;
  width:126px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51656 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u51657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u51657 {
  position:absolute;
  left:355px;
  top:402px;
  width:36px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u51658 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51659 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51660 {
  position:absolute;
  left:664px;
  top:243px;
  width:126px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51661 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u51662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u51662 {
  position:absolute;
  left:709px;
  top:277px;
  width:36px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u51663 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51665 {
  position:absolute;
  left:664px;
  top:326px;
  width:126px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51666 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u51667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u51667 {
  position:absolute;
  left:709px;
  top:360px;
  width:36px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u51668 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51670 {
  position:absolute;
  left:644px;
  top:413px;
  width:126px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51671 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u51672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u51672 {
  position:absolute;
  left:689px;
  top:447px;
  width:36px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u51673 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51674 {
  position:absolute;
  left:445px;
  top:280px;
  width:1px;
  height:1px;
}
#u51675 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51677 {
  position:absolute;
  left:-8px;
  top:323px;
  width:320px;
  height:185px;
}
#u51678 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51679 {
  position:absolute;
  left:17px;
  top:339px;
  width:67px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51680 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u51681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51681 {
  position:absolute;
  left:258px;
  top:339px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51682 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u51684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51685 {
  position:absolute;
  left:-8px;
  top:373px;
  width:320px;
  height:100px;
}
#u51686 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u51687 {
  position:absolute;
  left:227px;
  top:403px;
  width:66px;
  height:24px;
  font-size:12px;
}
#u51688 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u51690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#99AAB3;
}
#u51691 {
  position:absolute;
  left:14px;
  top:407px;
  width:121px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#99AAB3;
}
#u51692 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u51693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u51693 {
  position:absolute;
  left:14px;
  top:427px;
  width:48px;
  height:19px;
  font-size:12px;
  color:#AEAEAE;
}
#u51694 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u51695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u51695 {
  position:absolute;
  left:77px;
  top:427px;
  width:40px;
  height:19px;
  font-size:12px;
  color:#AEAEAE;
}
#u51696 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u51697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51697 {
  position:absolute;
  left:14px;
  top:383px;
  width:77px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51698 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u51699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u51699 {
  position:absolute;
  left:-1px;
  top:0px;
  width:320px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u51700 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u51701 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u51702 {
  position:absolute;
  left:10px;
  top:15px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-size:12px;
}
#u51703 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u51704 {
  position:absolute;
  left:10px;
  top:22px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:12px;
}
#u51705 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
