body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-22.5px;
  width:707px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36520 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u36521 {
  position:absolute;
  left:196px;
  top:-82px;
  width:360px;
  height:707px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u36522 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(211, 219, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36523 {
  position:absolute;
  left:227px;
  top:-15px;
  width:320px;
  height:568px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u36524 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36525 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u36526 {
  position:absolute;
  left:49px;
  top:45px;
  width:61px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u36527 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  white-space:nowrap;
}
#u36528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u36528 {
  position:absolute;
  left:23px;
  top:45px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u36529 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  white-space:nowrap;
}
#u36530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36532 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36533 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:320px;
}
#u36534 {
  position:absolute;
  left:103px;
  top:109px;
  width:42px;
  height:320px;
  font-size:16px;
}
#u36535 {
  position:absolute;
  left:-137px;
  top:150px;
  width:316px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
  transform-origin:158px 10px;
  -ms-transform-origin:158px 10px;
  -moz-transform-origin:158px 10px;
  -webkit-transform-origin:158px 10px;
}
#u36536 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36537 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36538 {
  position:absolute;
  left:121px;
  top:413px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u36539 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36540 {
  position:absolute;
  left:113px;
  top:413px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u36541 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:320px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u36542 {
  position:absolute;
  left:145px;
  top:109px;
  width:526px;
  height:320px;
  font-size:28px;
  color:#FFFFFF;
}
#u36543 {
  position:absolute;
  left:2px;
  top:144px;
  width:522px;
  word-wrap:break-word;
}
#u36544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u36544 {
  position:absolute;
  left:166px;
  top:122px;
  width:100px;
  height:16px;
}
#u36545 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u36546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u36546 {
  position:absolute;
  left:166px;
  top:144px;
  width:87px;
  height:16px;
}
#u36547 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u36548 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u36549 {
  position:absolute;
  left:551px;
  top:383px;
  width:110px;
  height:39px;
  font-size:14px;
  color:#1E1E1E;
}
#u36550 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
  text-align:center;
}
#u36551 {
  position:absolute;
  left:596px;
  top:396px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
  text-align:center;
}
#u36552 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u36553 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u36554 {
  position:absolute;
  left:436px;
  top:383px;
  width:110px;
  height:39px;
  font-size:14px;
  color:#1E1E1E;
}
#u36555 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
  text-align:center;
}
#u36556 {
  position:absolute;
  left:484px;
  top:396px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
  text-align:center;
}
#u36557 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
