body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-22.5px;
  width:707px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u32467 {
  position:absolute;
  left:196px;
  top:-82px;
  width:360px;
  height:707px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u32468 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(211, 219, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32469 {
  position:absolute;
  left:227px;
  top:-15px;
  width:320px;
  height:568px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u32470 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u32472 {
  position:absolute;
  left:49px;
  top:45px;
  width:61px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u32473 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  white-space:nowrap;
}
#u32474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u32474 {
  position:absolute;
  left:23px;
  top:45px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u32475 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  white-space:nowrap;
}
#u32476 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32478 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:320px;
}
#u32480 {
  position:absolute;
  left:103px;
  top:109px;
  width:42px;
  height:320px;
  font-size:16px;
}
#u32481 {
  position:absolute;
  left:-137px;
  top:150px;
  width:316px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
  transform-origin:158px 10px;
  -ms-transform-origin:158px 10px;
  -moz-transform-origin:158px 10px;
  -webkit-transform-origin:158px 10px;
}
#u32482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32483 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32484 {
  position:absolute;
  left:121px;
  top:413px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u32485 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32486 {
  position:absolute;
  left:113px;
  top:413px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u32487 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:320px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u32488 {
  position:absolute;
  left:145px;
  top:109px;
  width:526px;
  height:320px;
  font-size:28px;
  color:#FFFFFF;
}
#u32489 {
  position:absolute;
  left:2px;
  top:144px;
  width:522px;
  word-wrap:break-word;
}
#u32490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u32490 {
  position:absolute;
  left:166px;
  top:122px;
  width:100px;
  height:16px;
}
#u32491 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u32492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u32492 {
  position:absolute;
  left:166px;
  top:144px;
  width:87px;
  height:16px;
}
#u32493 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u32494 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u32495 {
  position:absolute;
  left:551px;
  top:383px;
  width:110px;
  height:39px;
  font-size:14px;
  color:#1E1E1E;
}
#u32496 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
  text-align:center;
}
#u32497 {
  position:absolute;
  left:596px;
  top:396px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
  text-align:center;
}
#u32498 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u32499 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u32500 {
  position:absolute;
  left:436px;
  top:383px;
  width:110px;
  height:39px;
  font-size:14px;
  color:#1E1E1E;
}
#u32501 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
  text-align:center;
}
#u32502 {
  position:absolute;
  left:484px;
  top:396px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
  text-align:center;
}
#u32503 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
