body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41249_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u41249 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u41250 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41251 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u41251_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41251_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41252 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u41253 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u41254 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u41255 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u41256 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u41257 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u41258 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41259 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u41259_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41259_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41260 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u41261 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u41262 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u41263 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u41264 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u41265 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u41266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41267 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u41268 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u41269 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u41270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u41270 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u41271 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u41272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u41272 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u41273 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u41274 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u41275 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u41276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u41276 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u41277 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u41278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41279 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u41280 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u41281 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u41282 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41283 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u41284 {
  position:absolute;
  left:90px;
  top:100px;
  width:89px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u41285 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  white-space:nowrap;
}
#u41286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u41286 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u41287 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u41289 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:552px;
}
#u41290 {
  position:absolute;
  left:68px;
  top:219px;
  width:320px;
  height:552px;
}
#u41291 {
  position:absolute;
  left:2px;
  top:268px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41292 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:38px;
}
#u41293 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u41294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41295 {
  position:absolute;
  left:77px;
  top:226px;
  width:15px;
  height:23px;
}
#u41296 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41297 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41298 {
  position:absolute;
  left:78px;
  top:233px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u41299 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41300 {
  position:absolute;
  left:78px;
  top:240px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u41301 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41302 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.568627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(242, 242, 242, 0.517647058823529);
}
#u41303 {
  position:absolute;
  left:68px;
  top:256px;
  width:320px;
  height:38px;
  color:rgba(242, 242, 242, 0.517647058823529);
}
#u41304 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41305 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u41306 {
  position:absolute;
  left:83px;
  top:268px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u41307 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u41308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u41308 {
  position:absolute;
  left:125px;
  top:272px;
  width:10px;
  height:7px;
}
#u41309 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u41311 {
  position:absolute;
  left:167px;
  top:268px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u41312 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u41313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u41313 {
  position:absolute;
  left:191px;
  top:272px;
  width:10px;
  height:7px;
}
#u41314 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u41316 {
  position:absolute;
  left:245px;
  top:268px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u41317 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u41318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u41318 {
  position:absolute;
  left:269px;
  top:272px;
  width:10px;
  height:7px;
}
#u41319 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u41321 {
  position:absolute;
  left:324px;
  top:268px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u41322 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u41323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u41323 {
  position:absolute;
  left:348px;
  top:272px;
  width:10px;
  height:7px;
}
#u41324 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41325 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u41326 {
  position:absolute;
  left:365px;
  top:230px;
  width:12px;
  height:12px;
}
#u41327 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:1px;
}
#u41328 {
  position:absolute;
  left:374px;
  top:241px;
  width:6px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u41329 {
  position:absolute;
  left:2px;
  top:-8px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41330 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41332 {
  position:absolute;
  left:68px;
  top:293px;
  width:320px;
  height:76px;
}
#u41333 {
  position:absolute;
  left:2px;
  top:30px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(107, 107, 107, 0.819607843137255);
}
#u41335 {
  position:absolute;
  left:83px;
  top:341px;
  width:151px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(107, 107, 107, 0.819607843137255);
}
#u41336 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u41337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u41337 {
  position:absolute;
  left:83px;
  top:313px;
  width:169px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u41338 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
