body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52267 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52268 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u52269 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52270 {
  position:absolute;
  left:1px;
  top:0px;
  width:320px;
  height:33px;
}
#u52271 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:186px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.47843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52272 {
  position:absolute;
  left:0px;
  top:33px;
  width:319px;
  height:186px;
}
#u52273 {
  position:absolute;
  left:2px;
  top:85px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u52274 {
  position:absolute;
  left:127px;
  top:54px;
  width:67px;
  height:67px;
  font-size:28px;
}
#u52275 {
  position:absolute;
  left:2px;
  top:17px;
  width:63px;
  word-wrap:break-word;
}
#u52276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:207px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u52276 {
  position:absolute;
  left:52px;
  top:446px;
  width:79px;
  height:33px;
  font-size:11px;
}
#u52277 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u52278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:207px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u52278 {
  position:absolute;
  left:170px;
  top:446px;
  width:81px;
  height:33px;
  font-size:11px;
}
#u52279 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u52280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u52280 {
  position:absolute;
  left:130px;
  top:130px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u52281 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u52282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52283 {
  position:absolute;
  left:5px;
  top:6px;
  width:11px;
  height:20px;
}
#u52284 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52285 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52286 {
  position:absolute;
  left:4px;
  top:12px;
  width:12px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u52287 {
  position:absolute;
  left:2px;
  top:-7px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52288 {
  position:absolute;
  left:4px;
  top:19px;
  width:12px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u52289 {
  position:absolute;
  left:2px;
  top:-7px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:33px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u52291 {
  position:absolute;
  left:28px;
  top:393px;
  width:262px;
  height:33px;
  font-size:12px;
}
#u52292 {
  position:absolute;
  left:2px;
  top:9px;
  width:258px;
  word-wrap:break-word;
}
#u52293 {
  position:absolute;
  left:28px;
  top:265px;
  width:262px;
  height:33px;
}
#u52293_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52294 {
  position:absolute;
  left:28px;
  top:314px;
  width:149px;
  height:33px;
}
#u52294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u52295 {
  position:absolute;
  left:188px;
  top:314px;
  width:102px;
  height:33px;
  font-size:12px;
}
#u52296 {
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u52297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52297 {
  position:absolute;
  left:28px;
  top:234px;
  width:97px;
  height:31px;
}
#u52298 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u52299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
}
#u52299 {
  position:absolute;
  left:31px;
  top:495px;
  width:256px;
  height:30px;
  font-size:12px;
}
#u52300 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u52301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u52301 {
  position:absolute;
  left:87px;
  top:165px;
  width:154px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u52302 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u52303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u52303 {
  position:absolute;
  left:204px;
  top:242px;
  width:86px;
  height:13px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u52304 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u52305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u52305 {
  position:absolute;
  left:207px;
  top:393px;
  width:40px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u52306 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u52307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u52307 {
  position:absolute;
  left:207px;
  top:411px;
  width:40px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u52308 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
