body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35695_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u35695 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u35696 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35697 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u35697_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35697_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35698 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u35699 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u35700 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u35701 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u35702 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u35703 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u35704 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35705 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u35705_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35705_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35706 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u35707 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u35708 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u35709 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u35710 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u35711 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u35712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u35714 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u35715 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u35716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u35716 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u35717 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u35718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u35718 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u35719 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u35720 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u35721 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u35722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u35722 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u35723 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u35724 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35725 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u35726 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u35727 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u35728 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u35730 {
  position:absolute;
  left:90px;
  top:100px;
  width:89px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u35731 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  white-space:nowrap;
}
#u35732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u35732 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u35733 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u35734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35735 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:40px;
}
#u35736 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u35737 {
  position:absolute;
  left:177px;
  top:227px;
  width:109px;
  height:23px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u35738 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u35739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u35739 {
  position:absolute;
  left:80px;
  top:228px;
  width:20px;
  height:20px;
}
#u35740 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35741 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35744 {
  position:absolute;
  left:68px;
  top:307px;
  width:320px;
  height:105px;
}
#u35745 {
  position:absolute;
  left:2px;
  top:44px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u35746 {
  position:absolute;
  left:108px;
  top:381px;
  width:100px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u35747 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u35748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
  text-align:center;
}
#u35748 {
  position:absolute;
  left:297px;
  top:353px;
  width:78px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
  text-align:center;
}
#u35749 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u35751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(107, 107, 107, 0.819607843137255);
}
#u35751 {
  position:absolute;
  left:108px;
  top:354px;
  width:151px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(107, 107, 107, 0.819607843137255);
}
#u35752 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u35753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u35753 {
  position:absolute;
  left:108px;
  top:326px;
  width:169px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u35754 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u35755 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u35756 {
  position:absolute;
  left:78px;
  top:348px;
  width:24px;
  height:24px;
}
#u35757 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:38px;
}
#u35758 {
  position:absolute;
  left:458px;
  top:358px;
  width:280px;
  height:38px;
}
#u35759 {
  position:absolute;
  left:2px;
  top:11px;
  width:276px;
  word-wrap:break-word;
}
#u35760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u35760 {
  position:absolute;
  left:784px;
  top:336px;
  width:385px;
  height:82px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u35761 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u35762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u35762 {
  position:absolute;
  left:84px;
  top:268px;
  width:213px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u35763 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u35764 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFCC00;
}
#u35765 {
  position:absolute;
  left:438px;
  top:243px;
  width:320px;
  height:35px;
  font-size:12px;
  color:#FFCC00;
}
#u35766 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u35767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFCC00;
}
#u35767 {
  position:absolute;
  left:438px;
  top:218px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFCC00;
}
#u35768 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u35769 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u35770 {
  position:absolute;
  left:458px;
  top:588px;
  width:280px;
  height:180px;
  font-size:14px;
}
#u35771 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u35772 {
  position:absolute;
  left:458px;
  top:713px;
  width:280px;
  height:1px;
  font-size:14px;
}
#u35773 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:55px;
}
#u35774 {
  position:absolute;
  left:591px;
  top:714px;
  width:1px;
  height:54px;
  font-size:14px;
}
#u35775 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:55px;
}
#u35776 {
  position:absolute;
  left:591px;
  top:714px;
  width:1px;
  height:54px;
  font-size:14px;
}
#u35777 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u35778 {
  position:absolute;
  left:485px;
  top:739px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u35779 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u35780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u35780 {
  position:absolute;
  left:625px;
  top:739px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u35781 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u35782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u35782 {
  position:absolute;
  left:546px;
  top:601px;
  width:102px;
  height:33px;
  font-size:14px;
  text-align:center;
}
#u35783 {
  position:absolute;
  left:0px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u35784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u35784 {
  position:absolute;
  left:471px;
  top:644px;
  width:247px;
  height:48px;
  font-size:14px;
}
#u35785 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u35786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u35786 {
  position:absolute;
  left:458px;
  top:555px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u35787 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u35788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u35788 {
  position:absolute;
  left:458px;
  top:320px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u35789 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
