body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47362_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u47362 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u47363 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47364 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u47364_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47364_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47365 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u47366 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u47367 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u47368 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u47369 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u47370 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u47371 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47372 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u47372_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47372_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47373 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u47374 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u47375 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u47376 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u47377 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u47378 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u47379 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47380 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u47381 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u47382 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u47383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u47383 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u47384 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u47385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u47385 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u47386 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u47387 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u47388 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u47389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u47389 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u47390 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u47391 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47392 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u47393 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u47394 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u47395 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47396 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u47397 {
  position:absolute;
  left:90px;
  top:100px;
  width:61px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u47398 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  white-space:nowrap;
}
#u47399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u47399 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u47400 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u47402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:571px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47402 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:571px;
}
#u47403 {
  position:absolute;
  left:2px;
  top:278px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47404 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:37px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47405 {
  position:absolute;
  left:68px;
  top:218px;
  width:319px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47406 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u47407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47408 {
  position:absolute;
  left:79px;
  top:232px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u47409 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47410 {
  position:absolute;
  left:79px;
  top:239px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u47411 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47412 {
  position:absolute;
  left:68px;
  top:255px;
  width:320px;
  height:513px;
  overflow:hidden;
}
#u47412_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:513px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47412_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47413 {
  position:absolute;
  left:10px;
  top:0px;
  width:300px;
  height:3991px;
  overflow:hidden;
  touch-action:none;
}
#u47413_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:3991px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47413_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:3991px;
}
#u47414 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:3991px;
  line-height:28px;
}
#u47415 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
