body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45199 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u45200 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45202 {
  position:absolute;
  left:9px;
  top:8px;
  width:15px;
  height:23px;
}
#u45203 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45205 {
  position:absolute;
  left:10px;
  top:15px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u45206 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45207 {
  position:absolute;
  left:10px;
  top:22px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u45208 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u45209 {
  position:absolute;
  left:138px;
  top:12px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u45210 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u45211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u45212 {
  position:absolute;
  left:287px;
  top:17px;
  width:5px;
  height:5px;
}
#u45213 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u45214 {
  position:absolute;
  left:294px;
  top:17px;
  width:5px;
  height:5px;
}
#u45215 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u45216 {
  position:absolute;
  left:301px;
  top:17px;
  width:5px;
  height:5px;
}
#u45217 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
