body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31183_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u31183 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u31184 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31185 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u31185_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31185_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31186 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u31187 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u31188 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u31189 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u31190 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u31191 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u31192 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31193 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u31193_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31193_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31194 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u31195 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u31196 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u31197 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u31198 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u31199 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u31200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31202 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31203 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u31204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u31204 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u31205 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u31206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u31206 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u31207 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u31208 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u31209 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u31210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u31210 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u31211 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u31212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31213 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u31214 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u31215 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u31216 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31218 {
  position:absolute;
  left:90px;
  top:100px;
  width:94px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31219 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  white-space:nowrap;
}
#u31220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u31220 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u31221 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u31223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
}
#u31223 {
  position:absolute;
  left:68px;
  top:219px;
  width:320px;
  height:550px;
}
#u31224 {
  position:absolute;
  left:2px;
  top:267px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31226 {
  position:absolute;
  left:68px;
  top:219px;
  width:320px;
  height:40px;
}
#u31227 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u31228 {
  position:absolute;
  left:195px;
  top:227px;
  width:73px;
  height:23px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u31229 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u31230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31230 {
  position:absolute;
  left:80px;
  top:229px;
  width:20px;
  height:20px;
}
#u31231 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31233 {
  position:absolute;
  left:68px;
  top:734px;
  width:320px;
  height:35px;
}
#u31234 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u31235 {
  position:absolute;
  left:192px;
  top:743px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u31236 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u31237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31238 {
  position:absolute;
  left:68px;
  top:258px;
  width:320px;
  height:78px;
}
#u31239 {
  position:absolute;
  left:2px;
  top:31px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u31240 {
  position:absolute;
  left:84px;
  top:275px;
  width:100px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u31241 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u31243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u31243 {
  position:absolute;
  left:84px;
  top:301px;
  width:173px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u31244 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u31245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
  text-align:center;
}
#u31245 {
  position:absolute;
  left:320px;
  top:302px;
  width:54px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
  text-align:center;
}
#u31246 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u31247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31248 {
  position:absolute;
  left:68px;
  top:335px;
  width:320px;
  height:78px;
}
#u31249 {
  position:absolute;
  left:2px;
  top:31px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u31250 {
  position:absolute;
  left:84px;
  top:352px;
  width:100px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u31251 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u31253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u31253 {
  position:absolute;
  left:84px;
  top:378px;
  width:173px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u31254 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u31255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 0, 51, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u31255 {
  position:absolute;
  left:320px;
  top:379px;
  width:54px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u31256 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u31257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u31257 {
  position:absolute;
  left:81px;
  top:346px;
  width:55px;
  height:55px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:rgba(255, 0, 51, 0.498039215686275);
}
#u31258 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u31259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31260 {
  position:absolute;
  left:68px;
  top:412px;
  width:320px;
  height:78px;
}
#u31261 {
  position:absolute;
  left:2px;
  top:31px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u31262 {
  position:absolute;
  left:84px;
  top:429px;
  width:100px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u31263 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u31265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u31265 {
  position:absolute;
  left:84px;
  top:455px;
  width:173px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u31266 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u31267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#D7D7D7;
  text-align:center;
}
#u31267 {
  position:absolute;
  left:320px;
  top:456px;
  width:54px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#D7D7D7;
  text-align:center;
}
#u31268 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u31269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u31269 {
  position:absolute;
  left:84px;
  top:420px;
  width:55px;
  height:55px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#66FFCC;
}
#u31270 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u31271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31271 {
  position:absolute;
  left:433px;
  top:300px;
  width:506px;
  height:256px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31272 {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
