body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1379px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:507px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 198, 182, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#24C6B6;
}
#u31395 {
  position:absolute;
  left:502px;
  top:1068px;
  width:348px;
  height:507px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#24C6B6;
}
#u31396 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u31398_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u31398 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u31399 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31400 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u31400_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31400_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31401 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u31402 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u31403 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u31404 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u31405 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u31406 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u31407 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31408 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u31408_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31408_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31409 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u31410 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u31411 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u31412 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u31413 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u31414 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u31415 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31416 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31417 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31418 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u31419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u31419 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u31420 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u31421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u31421 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u31422 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u31423 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u31424 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u31425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u31425 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u31426 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u31427 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31428 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u31429 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u31430 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u31431 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31432 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31433 {
  position:absolute;
  left:90px;
  top:100px;
  width:89px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31434 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  white-space:nowrap;
}
#u31435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u31435 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u31436 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u31438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:542px;
}
#u31438 {
  position:absolute;
  left:68px;
  top:219px;
  width:320px;
  height:542px;
}
#u31439 {
  position:absolute;
  left:2px;
  top:263px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:157px;
}
#u31440 {
  position:absolute;
  left:68px;
  top:256px;
  width:320px;
  height:157px;
}
#u31441 {
  position:absolute;
  left:2px;
  top:70px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31442 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:37px;
}
#u31443 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u31444 {
  position:absolute;
  left:203px;
  top:230px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u31445 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31447 {
  position:absolute;
  left:77px;
  top:226px;
  width:15px;
  height:23px;
}
#u31448 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31450 {
  position:absolute;
  left:78px;
  top:233px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u31451 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31452 {
  position:absolute;
  left:78px;
  top:240px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u31453 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u31455 {
  position:absolute;
  left:307px;
  top:255px;
  width:81px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u31456 {
  position:absolute;
  left:0px;
  top:9px;
  width:81px;
  word-wrap:break-word;
}
#u31457 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u31458 {
  position:absolute;
  left:356px;
  top:234px;
  width:6px;
  height:6px;
}
#u31459 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u31460 {
  position:absolute;
  left:343px;
  top:234px;
  width:6px;
  height:6px;
}
#u31461 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u31462 {
  position:absolute;
  left:330px;
  top:234px;
  width:6px;
  height:6px;
}
#u31463 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u31464 {
  position:absolute;
  left:68px;
  top:737px;
  width:320px;
  height:31px;
  color:#000000;
}
#u31465 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u31466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u31466 {
  position:absolute;
  left:73px;
  top:423px;
  width:272px;
  height:54px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u31467 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u31468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31468 {
  position:absolute;
  left:73px;
  top:510px;
  width:310px;
  height:170px;
}
#u31469 {
  position:absolute;
  left:2px;
  top:77px;
  width:306px;
  word-wrap:break-word;
}
#u31470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u31470 {
  position:absolute;
  left:68px;
  top:477px;
  width:320px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u31471 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u31472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.686274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u31472 {
  position:absolute;
  left:342px;
  top:382px;
  width:35px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u31473 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u31474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u31475 {
  position:absolute;
  left:536px;
  top:1186px;
  width:280px;
  height:36px;
  color:#000000;
}
#u31476 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u31477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u31477 {
  position:absolute;
  left:536px;
  top:1292px;
  width:280px;
  height:36px;
  color:#000000;
}
#u31478 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u31479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u31479 {
  position:absolute;
  left:536px;
  top:1162px;
  width:40px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31480 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u31481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u31481 {
  position:absolute;
  left:536px;
  top:1266px;
  width:105px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31482 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u31483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:414px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 198, 182, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#24C6B6;
}
#u31483 {
  position:absolute;
  left:430px;
  top:435px;
  width:363px;
  height:414px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#24C6B6;
}
#u31484 {
  position:absolute;
  left:2px;
  top:2px;
  width:359px;
  word-wrap:break-word;
}
#u31485 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u31486 {
  position:absolute;
  left:470px;
  top:486px;
  width:280px;
  height:36px;
  color:#000000;
}
#u31487 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u31488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u31488 {
  position:absolute;
  left:470px;
  top:776px;
  width:140px;
  height:36px;
  color:#000000;
}
#u31489 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u31490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u31490 {
  position:absolute;
  left:470px;
  top:462px;
  width:40px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31491 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u31492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u31492 {
  position:absolute;
  left:470px;
  top:745px;
  width:131px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31493 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u31494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u31494 {
  position:absolute;
  left:470px;
  top:576px;
  width:280px;
  height:36px;
  color:#000000;
}
#u31495 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u31496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u31496 {
  position:absolute;
  left:470px;
  top:677px;
  width:280px;
  height:36px;
  color:#000000;
}
#u31497 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u31498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u31498 {
  position:absolute;
  left:470px;
  top:553px;
  width:105px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31499 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u31500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u31500 {
  position:absolute;
  left:470px;
  top:654px;
  width:144px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31501 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u31502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u31502 {
  position:absolute;
  left:609px;
  top:776px;
  width:140px;
  height:36px;
  color:#000000;
}
#u31503 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u31505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:542px;
}
#u31505 {
  position:absolute;
  left:68px;
  top:1026px;
  width:320px;
  height:542px;
}
#u31506 {
  position:absolute;
  left:2px;
  top:263px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:157px;
}
#u31507 {
  position:absolute;
  left:68px;
  top:1063px;
  width:320px;
  height:157px;
}
#u31508 {
  position:absolute;
  left:2px;
  top:70px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31509 {
  position:absolute;
  left:68px;
  top:1025px;
  width:320px;
  height:37px;
}
#u31510 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u31511 {
  position:absolute;
  left:203px;
  top:1037px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u31512 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31513 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31514 {
  position:absolute;
  left:77px;
  top:1033px;
  width:15px;
  height:23px;
}
#u31515 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31516 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31517 {
  position:absolute;
  left:78px;
  top:1040px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u31518 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31519 {
  position:absolute;
  left:78px;
  top:1047px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u31520 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31521 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u31522 {
  position:absolute;
  left:307px;
  top:1062px;
  width:81px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u31523 {
  position:absolute;
  left:0px;
  top:9px;
  width:81px;
  word-wrap:break-word;
}
#u31524 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u31525 {
  position:absolute;
  left:356px;
  top:1041px;
  width:6px;
  height:6px;
}
#u31526 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u31527 {
  position:absolute;
  left:343px;
  top:1041px;
  width:6px;
  height:6px;
}
#u31528 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u31529 {
  position:absolute;
  left:330px;
  top:1041px;
  width:6px;
  height:6px;
}
#u31530 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u31531 {
  position:absolute;
  left:68px;
  top:1544px;
  width:320px;
  height:31px;
  color:#000000;
}
#u31532 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u31533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u31533 {
  position:absolute;
  left:73px;
  top:1230px;
  width:272px;
  height:54px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u31534 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u31535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31535 {
  position:absolute;
  left:73px;
  top:1317px;
  width:310px;
  height:170px;
}
#u31536 {
  position:absolute;
  left:2px;
  top:77px;
  width:306px;
  word-wrap:break-word;
}
#u31537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u31537 {
  position:absolute;
  left:68px;
  top:1284px;
  width:320px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u31538 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u31539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.686274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u31539 {
  position:absolute;
  left:342px;
  top:1189px;
  width:35px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u31540 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u31541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u31541 {
  position:absolute;
  left:872px;
  top:768px;
  width:289px;
  height:52px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u31542 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u31543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u31543 {
  position:absolute;
  left:536px;
  top:1391px;
  width:140px;
  height:36px;
  color:#000000;
}
#u31544 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u31545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u31545 {
  position:absolute;
  left:536px;
  top:1360px;
  width:131px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31546 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u31547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u31547 {
  position:absolute;
  left:675px;
  top:1391px;
  width:140px;
  height:36px;
  color:#000000;
}
#u31548 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u31549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u31549 {
  position:absolute;
  left:872px;
  top:1360px;
  width:289px;
  height:52px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u31550 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u31551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31551 {
  position:absolute;
  left:873px;
  top:442px;
  width:506px;
  height:256px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31552 {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
