body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38552_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u38552 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u38553 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38554 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u38554_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u38554_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38555 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u38556 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u38557 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u38558 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u38559 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u38560 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u38561 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38562 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u38562_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u38562_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38563 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u38564 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38565 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u38566 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u38567 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u38568 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u38569 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38570 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u38571 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u38572 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u38573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u38573 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u38574 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u38575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u38575 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u38576 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u38577 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u38578 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u38579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u38579 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u38580 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u38581 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38582 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u38583 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u38584 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u38585 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38586 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u38587 {
  position:absolute;
  left:90px;
  top:100px;
  width:61px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u38588 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  white-space:nowrap;
}
#u38589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u38589 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u38590 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u38591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:511px;
}
#u38591 {
  position:absolute;
  left:68px;
  top:255px;
  width:320px;
  height:511px;
}
#u38592 {
  position:absolute;
  left:2px;
  top:248px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38593 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38594 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:15px;
}
#u38595 {
  position:absolute;
  left:91px;
  top:307px;
  width:205px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#24C6B6;
}
#u38596 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u38597 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
}
#u38598 {
  position:absolute;
  left:91px;
  top:340px;
  width:169px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u38599 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u38600 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u38601 {
  position:absolute;
  left:91px;
  top:373px;
  width:200px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u38602 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u38603 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u38604 {
  position:absolute;
  left:91px;
  top:427px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u38605 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u38606 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3A567A;
}
#u38607 {
  position:absolute;
  left:91px;
  top:272px;
  width:116px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3A567A;
}
#u38608 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u38609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
}
#u38609 {
  position:absolute;
  left:336px;
  top:272px;
  width:42px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u38610 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u38611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u38611 {
  position:absolute;
  left:336px;
  top:310px;
  width:52px;
  height:15px;
  font-size:12px;
  color:#2ED8C7;
}
#u38612 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u38613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u38613 {
  position:absolute;
  left:73px;
  top:274px;
  width:13px;
  height:13px;
  font-size:12px;
  color:#3A567A;
}
#u38614 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:122px;
}
#u38615 {
  position:absolute;
  left:79px;
  top:313px;
  width:1px;
  height:121px;
}
#u38616 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u38617 {
  position:absolute;
  left:73px;
  top:341px;
  width:13px;
  height:13px;
  font-size:12px;
  color:#A1A1A1;
}
#u38618 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:1px;
}
#u38619 {
  position:absolute;
  left:60px;
  top:297px;
  width:39px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
}
#u38620 {
  position:absolute;
  left:2px;
  top:-8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u38621 {
  position:absolute;
  left:73px;
  top:308px;
  width:13px;
  height:13px;
  font-size:12px;
  color:#2ED8C7;
}
#u38622 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u38623 {
  position:absolute;
  left:73px;
  top:380px;
  width:13px;
  height:13px;
  font-size:12px;
  color:#A1A1A1;
}
#u38624 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u38625 {
  position:absolute;
  left:73px;
  top:427px;
  width:13px;
  height:13px;
  font-size:12px;
  color:#A1A1A1;
}
#u38626 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38628 {
  position:absolute;
  left:220px;
  top:726px;
  width:168px;
  height:41px;
}
#u38629 {
  position:absolute;
  left:2px;
  top:12px;
  width:164px;
  word-wrap:break-word;
}
#u38630 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38631 {
  position:absolute;
  left:68px;
  top:726px;
  width:86px;
  height:41px;
}
#u38632 {
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u38633 {
  position:absolute;
  left:76px;
  top:733px;
  width:28px;
  height:29px;
  font-size:10px;
}
#u38634 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  word-wrap:break-word;
}
#u38635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u38635 {
  position:absolute;
  left:110px;
  top:740px;
  width:35px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u38636 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u38637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38637 {
  position:absolute;
  left:151px;
  top:726px;
  width:69px;
  height:41px;
}
#u38638 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u38639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u38639 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u38640 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u38641 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38642 {
  position:absolute;
  left:79px;
  top:231px;
  width:11px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u38643 {
  position:absolute;
  left:2px;
  top:-7px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38644 {
  position:absolute;
  left:79px;
  top:238px;
  width:11px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u38645 {
  position:absolute;
  left:2px;
  top:-7px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38646 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u38647 {
  position:absolute;
  left:357px;
  top:230px;
  width:5px;
  height:5px;
}
#u38648 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u38649 {
  position:absolute;
  left:365px;
  top:230px;
  width:5px;
  height:5px;
}
#u38650 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u38651 {
  position:absolute;
  left:372px;
  top:230px;
  width:5px;
  height:5px;
}
#u38652 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38655 {
  position:absolute;
  left:302px;
  top:255px;
  width:85px;
  height:28px;
}
#u38656 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u38657 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u38658 {
  position:absolute;
  left:542px;
  top:340px;
  width:280px;
  height:180px;
  font-size:14px;
}
#u38659 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:55px;
}
#u38660 {
  position:absolute;
  left:675px;
  top:466px;
  width:1px;
  height:54px;
  font-size:14px;
}
#u38661 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u38662 {
  position:absolute;
  left:542px;
  top:467px;
  width:280px;
  height:1px;
  font-size:14px;
}
#u38663 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:55px;
}
#u38664 {
  position:absolute;
  left:675px;
  top:466px;
  width:1px;
  height:54px;
  font-size:14px;
}
#u38665 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u38666 {
  position:absolute;
  left:569px;
  top:491px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u38667 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u38668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u38668 {
  position:absolute;
  left:709px;
  top:491px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u38669 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u38670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u38670 {
  position:absolute;
  left:630px;
  top:353px;
  width:102px;
  height:33px;
  font-size:14px;
  text-align:center;
}
#u38671 {
  position:absolute;
  left:0px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u38672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u38672 {
  position:absolute;
  left:555px;
  top:396px;
  width:247px;
  height:48px;
  font-size:14px;
}
#u38673 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u38674 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
  background:inherit;
  background-color:rgba(39, 56, 75, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u38676 {
  position:absolute;
  left:542px;
  top:557px;
  width:98px;
  height:42px;
  color:#FFFFFF;
}
#u38677 {
  position:absolute;
  left:2px;
  top:13px;
  width:94px;
  word-wrap:break-word;
}
#u38678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:42px;
  background:inherit;
  background-color:rgba(39, 56, 75, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u38678 {
  position:absolute;
  left:640px;
  top:557px;
  width:99px;
  height:42px;
  color:#FFFFFF;
}
#u38679 {
  position:absolute;
  left:2px;
  top:13px;
  width:95px;
  word-wrap:break-word;
}
#u38680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:42px;
  background:inherit;
  background-color:rgba(39, 56, 75, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u38680 {
  position:absolute;
  left:740px;
  top:557px;
  width:304px;
  height:42px;
  color:#FFFFFF;
}
#u38681 {
  position:absolute;
  left:2px;
  top:13px;
  width:300px;
  word-wrap:break-word;
}
#u38682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:42px;
  background:inherit;
  background-color:rgba(39, 56, 75, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u38682 {
  position:absolute;
  left:1043px;
  top:557px;
  width:99px;
  height:42px;
  color:#FFFFFF;
}
#u38683 {
  position:absolute;
  left:2px;
  top:13px;
  width:95px;
  word-wrap:break-word;
}
#u38684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
  background:inherit;
  background-color:rgba(39, 56, 75, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u38684 {
  position:absolute;
  left:1143px;
  top:557px;
  width:98px;
  height:42px;
  color:#FFFFFF;
}
#u38685 {
  position:absolute;
  left:2px;
  top:13px;
  width:94px;
  word-wrap:break-word;
}
#u38686 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38687 {
  position:absolute;
  left:542px;
  top:598px;
  width:98px;
  height:42px;
}
#u38688 {
  position:absolute;
  left:2px;
  top:13px;
  width:94px;
  word-wrap:break-word;
}
#u38689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38689 {
  position:absolute;
  left:640px;
  top:598px;
  width:99px;
  height:42px;
}
#u38690 {
  position:absolute;
  left:2px;
  top:13px;
  width:95px;
  word-wrap:break-word;
}
#u38691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38691 {
  position:absolute;
  left:740px;
  top:598px;
  width:304px;
  height:42px;
}
#u38692 {
  position:absolute;
  left:2px;
  top:13px;
  width:300px;
  word-wrap:break-word;
}
#u38693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38693 {
  position:absolute;
  left:1043px;
  top:598px;
  width:100px;
  height:42px;
}
#u38694 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38695 {
  position:absolute;
  left:1143px;
  top:598px;
  width:98px;
  height:42px;
}
#u38696 {
  position:absolute;
  left:2px;
  top:13px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38697 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38699 {
  position:absolute;
  left:542px;
  top:639px;
  width:98px;
  height:42px;
}
#u38700 {
  position:absolute;
  left:2px;
  top:13px;
  width:94px;
  word-wrap:break-word;
}
#u38701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38701 {
  position:absolute;
  left:640px;
  top:639px;
  width:99px;
  height:42px;
}
#u38702 {
  position:absolute;
  left:2px;
  top:13px;
  width:95px;
  word-wrap:break-word;
}
#u38703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38703 {
  position:absolute;
  left:740px;
  top:639px;
  width:304px;
  height:42px;
}
#u38704 {
  position:absolute;
  left:2px;
  top:13px;
  width:300px;
  word-wrap:break-word;
}
#u38705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38705 {
  position:absolute;
  left:1043px;
  top:639px;
  width:100px;
  height:42px;
}
#u38706 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38707 {
  position:absolute;
  left:1143px;
  top:639px;
  width:98px;
  height:42px;
}
#u38708 {
  position:absolute;
  left:2px;
  top:13px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38709 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38710 {
  position:absolute;
  left:542px;
  top:678px;
  width:98px;
  height:42px;
}
#u38711 {
  position:absolute;
  left:2px;
  top:13px;
  width:94px;
  word-wrap:break-word;
}
#u38712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38712 {
  position:absolute;
  left:640px;
  top:678px;
  width:99px;
  height:42px;
}
#u38713 {
  position:absolute;
  left:2px;
  top:13px;
  width:95px;
  word-wrap:break-word;
}
#u38714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38714 {
  position:absolute;
  left:740px;
  top:678px;
  width:304px;
  height:42px;
}
#u38715 {
  position:absolute;
  left:2px;
  top:13px;
  width:300px;
  word-wrap:break-word;
}
#u38716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38716 {
  position:absolute;
  left:1043px;
  top:678px;
  width:100px;
  height:42px;
}
#u38717 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38718 {
  position:absolute;
  left:1143px;
  top:678px;
  width:98px;
  height:42px;
}
#u38719 {
  position:absolute;
  left:2px;
  top:13px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38721 {
  position:absolute;
  left:542px;
  top:719px;
  width:98px;
  height:49px;
}
#u38722 {
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  word-wrap:break-word;
}
#u38723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38723 {
  position:absolute;
  left:640px;
  top:719px;
  width:99px;
  height:49px;
}
#u38724 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u38725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38725 {
  position:absolute;
  left:740px;
  top:719px;
  width:304px;
  height:49px;
}
#u38726 {
  position:absolute;
  left:2px;
  top:16px;
  width:300px;
  word-wrap:break-word;
}
#u38727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38727 {
  position:absolute;
  left:1043px;
  top:719px;
  width:100px;
  height:49px;
}
#u38728 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38729 {
  position:absolute;
  left:1143px;
  top:719px;
  width:98px;
  height:49px;
}
#u38730 {
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
