body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32505_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u32505 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u32506 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32507 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u32507_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32507_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32508 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u32509 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u32510 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u32511 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u32512 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u32513 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u32514 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32515 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u32515_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32515_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32516 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u32517 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u32518 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u32519 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u32520 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u32521 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u32522 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32523 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u32524 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u32525 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u32526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u32526 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u32527 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u32528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u32528 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u32529 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32530 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32531 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u32532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u32532 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u32533 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u32534 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32535 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u32536 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u32537 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u32538 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32539 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u32540 {
  position:absolute;
  left:90px;
  top:100px;
  width:159px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u32541 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  white-space:nowrap;
}
#u32542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u32542 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u32543 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u32544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u32544 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:550px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u32545 {
  position:absolute;
  left:2px;
  top:267px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u32546 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u32547 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u32548 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32549 {
  position:absolute;
  left:80px;
  top:232px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u32550 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32551 {
  position:absolute;
  left:80px;
  top:239px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u32552 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32553 {
  position:absolute;
  left:68px;
  top:253px;
  width:320px;
  height:478px;
  overflow:hidden;
}
#u32553_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:478px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32553_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32554 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2403px;
  overflow:hidden;
  touch-action:none;
}
#u32554_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2403px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32554_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32555 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1827px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u32556 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1827px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u32557 {
  position:absolute;
  left:2px;
  top:906px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1329px;
}
#u32558 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:1329px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#434343;
  line-height:24px;
}
#u32559 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u32560 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32561 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:100px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32562 {
  position:absolute;
  left:10px;
  top:1323px;
  width:256px;
  height:100px;
  font-size:16px;
}
#u32563 {
  position:absolute;
  left:2px;
  top:42px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u32564 {
  position:absolute;
  left:10px;
  top:1302px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u32565 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u32566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u32566 {
  position:absolute;
  left:10px;
  top:1429px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u32567 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u32568 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32569 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:100px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32570 {
  position:absolute;
  left:10px;
  top:1483px;
  width:256px;
  height:100px;
  font-size:16px;
}
#u32571 {
  position:absolute;
  left:2px;
  top:42px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u32572 {
  position:absolute;
  left:10px;
  top:1462px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u32573 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u32574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u32574 {
  position:absolute;
  left:10px;
  top:1589px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u32575 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u32576 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32577 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:100px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32578 {
  position:absolute;
  left:10px;
  top:1652px;
  width:256px;
  height:100px;
  font-size:16px;
}
#u32579 {
  position:absolute;
  left:2px;
  top:42px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:15px;
}
#u32580 {
  position:absolute;
  left:10px;
  top:1631px;
  width:223px;
  height:15px;
  font-size:12px;
}
#u32581 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u32582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u32582 {
  position:absolute;
  left:10px;
  top:1758px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u32583 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u32584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
}
#u32584 {
  position:absolute;
  left:68px;
  top:731px;
  width:320px;
  height:37px;
  font-size:12px;
  color:#000000;
}
#u32585 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u32586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u32586 {
  position:absolute;
  left:578px;
  top:700px;
  width:142px;
  height:38px;
  font-size:11px;
}
#u32587 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u32588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u32588 {
  position:absolute;
  left:436px;
  top:686px;
  width:13px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u32589 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  visibility:hidden;
  white-space:nowrap;
}
#u32590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u32590 {
  position:absolute;
  left:436px;
  top:700px;
  width:142px;
  height:38px;
  font-size:11px;
}
#u32591 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u32592 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
}
#u32593 {
  position:absolute;
  left:751px;
  top:693px;
  width:280px;
  height:45px;
  opacity:0.600000023841858;
  font-size:14px;
  color:#FFFFFF;
}
#u32594 {
  position:absolute;
  left:2px;
  top:14px;
  width:276px;
  word-wrap:break-word;
}
#u32595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u32595 {
  position:absolute;
  left:751px;
  top:668px;
  width:150px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u32596 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u32597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u32597 {
  position:absolute;
  left:436px;
  top:661px;
  width:157px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u32598 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
