body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40347_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u40347 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u40348 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40349 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u40349_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40349_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40350 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u40351 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u40352 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u40353 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u40354 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u40355 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u40356 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40357 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u40357_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40357_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40358 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u40359 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u40360 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u40361 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u40362 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u40363 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u40364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40365 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u40366 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u40367 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u40368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u40368 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u40369 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u40370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u40370 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u40371 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u40372 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u40373 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u40374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u40374 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u40375 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u40376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40377 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u40378 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u40379 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u40380 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u40382 {
  position:absolute;
  left:90px;
  top:100px;
  width:117px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u40383 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  white-space:nowrap;
}
#u40384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u40384 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u40385 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u40387 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40388 {
  position:absolute;
  left:69px;
  top:218px;
  width:319px;
  height:550px;
}
#u40389 {
  position:absolute;
  left:2px;
  top:267px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40391 {
  position:absolute;
  left:82px;
  top:294px;
  width:40px;
  height:40px;
}
#u40392 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40393 {
  position:absolute;
  left:101px;
  top:304px;
  width:2px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40394 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:2px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40395 {
  position:absolute;
  left:92px;
  top:313px;
  width:20px;
  height:2px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40396 {
  position:absolute;
  left:2px;
  top:-7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40397 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40398 {
  position:absolute;
  left:68px;
  top:218px;
  width:320px;
  height:42px;
}
#u40399 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u40400 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40401 {
  position:absolute;
  left:77px;
  top:227px;
  width:16px;
  height:25px;
}
#u40402 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40403 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40404 {
  position:absolute;
  left:78px;
  top:234px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u40405 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40406 {
  position:absolute;
  left:78px;
  top:242px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u40407 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:56px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40408 {
  position:absolute;
  left:92px;
  top:371px;
  width:265px;
  height:35px;
}
#u40409 {
  position:absolute;
  left:2px;
  top:10px;
  width:261px;
  word-wrap:break-word;
}
#u40410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u40410 {
  position:absolute;
  left:82px;
  top:273px;
  width:293px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u40411 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u40412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40413 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u40414 {
  position:absolute;
  left:68px;
  top:591px;
  width:320px;
  height:177px;
  font-size:14px;
}
#u40415 {
  position:absolute;
  left:2px;
  top:80px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:43px;
}
#u40416 {
  position:absolute;
  left:82px;
  top:663px;
  width:290px;
  height:43px;
  font-size:14px;
}
#u40417 {
  position:absolute;
  left:2px;
  top:14px;
  width:286px;
  word-wrap:break-word;
}
#u40418 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:37px;
}
#u40419 {
  position:absolute;
  left:82px;
  top:717px;
  width:290px;
  height:37px;
  font-size:14px;
}
#u40420 {
  position:absolute;
  left:2px;
  top:10px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u40421 {
  position:absolute;
  left:109px;
  top:723px;
  width:236px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u40422 {
  position:absolute;
  left:0px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u40423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:43px;
}
#u40423 {
  position:absolute;
  left:82px;
  top:620px;
  width:290px;
  height:43px;
  font-size:14px;
}
#u40424 {
  position:absolute;
  left:2px;
  top:14px;
  width:286px;
  word-wrap:break-word;
}
