body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30149_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u30149 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u30150 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30151 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u30151_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30151_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30152 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u30153 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u30154 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u30155 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u30156 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u30157 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u30158 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30159 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u30159_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30159_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30160 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u30161 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u30162 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u30163 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u30164 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u30165 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u30166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u30168 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u30169 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u30170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u30170 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u30171 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u30172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u30172 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u30173 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u30174 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u30175 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u30176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u30176 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u30177 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u30178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30179 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u30180 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u30181 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u30182 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u30184 {
  position:absolute;
  left:90px;
  top:100px;
  width:173px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u30185 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  white-space:nowrap;
}
#u30186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u30186 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u30187 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u30188 {
  position:absolute;
  left:500px;
  top:199px;
  width:726px;
  height:198px;
}
#u30189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:52px;
}
#u30189 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u30190 {
  position:absolute;
  left:2px;
  top:16px;
  width:194px;
  word-wrap:break-word;
}
#u30191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:52px;
}
#u30191 {
  position:absolute;
  left:198px;
  top:0px;
  width:254px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u30192 {
  position:absolute;
  left:2px;
  top:16px;
  width:250px;
  word-wrap:break-word;
}
#u30193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u30193 {
  position:absolute;
  left:452px;
  top:0px;
  width:140px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u30194 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u30195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:52px;
}
#u30195 {
  position:absolute;
  left:592px;
  top:0px;
  width:129px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u30196 {
  position:absolute;
  left:2px;
  top:16px;
  width:125px;
  word-wrap:break-word;
}
#u30197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:47px;
}
#u30197 {
  position:absolute;
  left:0px;
  top:52px;
  width:198px;
  height:47px;
  color:#949494;
}
#u30198 {
  position:absolute;
  left:2px;
  top:16px;
  width:194px;
  word-wrap:break-word;
}
#u30199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:47px;
}
#u30199 {
  position:absolute;
  left:198px;
  top:52px;
  width:254px;
  height:47px;
  color:#949494;
}
#u30200 {
  position:absolute;
  left:2px;
  top:16px;
  width:250px;
  word-wrap:break-word;
}
#u30201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:47px;
}
#u30201 {
  position:absolute;
  left:452px;
  top:52px;
  width:140px;
  height:47px;
  color:#949494;
  text-align:center;
}
#u30202 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:47px;
}
#u30203 {
  position:absolute;
  left:592px;
  top:52px;
  width:129px;
  height:47px;
  color:#949494;
}
#u30204 {
  position:absolute;
  left:2px;
  top:16px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:47px;
}
#u30205 {
  position:absolute;
  left:0px;
  top:99px;
  width:198px;
  height:47px;
  color:#949494;
}
#u30206 {
  position:absolute;
  left:2px;
  top:16px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:47px;
}
#u30207 {
  position:absolute;
  left:198px;
  top:99px;
  width:254px;
  height:47px;
  color:#949494;
}
#u30208 {
  position:absolute;
  left:2px;
  top:16px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:47px;
}
#u30209 {
  position:absolute;
  left:452px;
  top:99px;
  width:140px;
  height:47px;
  color:#949494;
  text-align:center;
}
#u30210 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:47px;
}
#u30211 {
  position:absolute;
  left:592px;
  top:99px;
  width:129px;
  height:47px;
  color:#949494;
}
#u30212 {
  position:absolute;
  left:2px;
  top:16px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:47px;
}
#u30213 {
  position:absolute;
  left:0px;
  top:146px;
  width:198px;
  height:47px;
  color:#949494;
}
#u30214 {
  position:absolute;
  left:2px;
  top:16px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:47px;
}
#u30215 {
  position:absolute;
  left:198px;
  top:146px;
  width:254px;
  height:47px;
  color:#949494;
}
#u30216 {
  position:absolute;
  left:2px;
  top:16px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:47px;
}
#u30217 {
  position:absolute;
  left:452px;
  top:146px;
  width:140px;
  height:47px;
  color:#949494;
  text-align:center;
}
#u30218 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:47px;
}
#u30219 {
  position:absolute;
  left:592px;
  top:146px;
  width:129px;
  height:47px;
  color:#949494;
}
#u30220 {
  position:absolute;
  left:2px;
  top:16px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u30223 {
  position:absolute;
  left:68px;
  top:217px;
  width:320px;
  height:42px;
  font-size:16px;
}
#u30224 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u30225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30226 {
  position:absolute;
  left:77px;
  top:226px;
  width:15px;
  height:25px;
}
#u30227 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30229 {
  position:absolute;
  left:78px;
  top:233px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u30230 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30231 {
  position:absolute;
  left:78px;
  top:241px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u30232 {
  position:absolute;
  left:2px;
  top:-7px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30233 {
  position:absolute;
  left:68px;
  top:259px;
  width:320px;
  height:510px;
}
#u30234 {
  position:absolute;
  left:2px;
  top:247px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u30235 {
  position:absolute;
  left:354px;
  top:228px;
  width:22px;
  height:22px;
}
#u30236 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30237 {
  position:absolute;
  left:502px;
  top:522px;
  width:160px;
  height:46px;
}
#u30238 {
  position:absolute;
  left:2px;
  top:15px;
  width:156px;
  word-wrap:break-word;
}
#u30239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30239 {
  position:absolute;
  left:662px;
  top:522px;
  width:160px;
  height:46px;
}
#u30240 {
  position:absolute;
  left:2px;
  top:15px;
  width:156px;
  word-wrap:break-word;
}
#u30241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u30242 {
  position:absolute;
  left:502px;
  top:669px;
  width:280px;
  height:180px;
  font-size:14px;
}
#u30243 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u30244 {
  position:absolute;
  left:502px;
  top:791px;
  width:280px;
  height:1px;
  font-size:14px;
}
#u30245 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u30246 {
  position:absolute;
  left:502px;
  top:791px;
  width:280px;
  height:1px;
  font-size:14px;
}
#u30247 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u30248 {
  position:absolute;
  left:600px;
  top:819px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u30249 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u30250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u30250 {
  position:absolute;
  left:590px;
  top:682px;
  width:102px;
  height:33px;
  font-size:14px;
  text-align:center;
}
#u30251 {
  position:absolute;
  left:0px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u30252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u30252 {
  position:absolute;
  left:515px;
  top:725px;
  width:247px;
  height:48px;
  font-size:14px;
}
#u30253 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u30254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u30254 {
  position:absolute;
  left:502px;
  top:643px;
  width:393px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u30255 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u30256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u30256 {
  position:absolute;
  left:910px;
  top:523px;
  width:280px;
  height:45px;
  opacity:0.600000023841858;
  font-size:14px;
  color:#FFFFFF;
}
#u30257 {
  position:absolute;
  left:2px;
  top:14px;
  width:276px;
  word-wrap:break-word;
}
#u30258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u30258 {
  position:absolute;
  left:910px;
  top:497px;
  width:106px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u30259 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
