body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28875_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1273px;
  height:6px;
}
#u28875 {
  position:absolute;
  left:50px;
  top:974px;
  width:1270px;
  height:3px;
}
#u28876 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28877 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u28877_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28877_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28878 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u28879 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u28880 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u28881 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u28882 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u28883 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28884 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28885 {
  position:fixed;
  right:100px;
  bottom:75px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u28885_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28885_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28886 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u28887 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u28888 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u28889 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u28890 {
  position:absolute;
  left:14px;
  top:12px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u28891 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u28894 {
  position:absolute;
  left:76px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u28895 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u28896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u28896 {
  position:absolute;
  left:50px;
  top:100px;
  width:27px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u28897 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u28898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u28898 {
  position:absolute;
  left:50px;
  top:143px;
  width:360px;
  height:707px;
}
#u28899 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28900 {
  position:absolute;
  left:990px;
  top:101px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28901 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u28902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u28902 {
  position:absolute;
  left:50px;
  top:912px;
  width:133px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u28903 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u28904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28905 {
  position:absolute;
  left:68px;
  top:199px;
  width:320px;
  height:20px;
}
#u28906 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:11px;
}
#u28907 {
  position:absolute;
  left:71px;
  top:204px;
  width:314px;
  height:11px;
}
#u28908 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(214, 71, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u28910 {
  position:absolute;
  left:90px;
  top:100px;
  width:33px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u28911 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  white-space:nowrap;
}
#u28912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 71, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u28912 {
  position:absolute;
  left:50px;
  top:100px;
  width:40px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u28913 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  white-space:nowrap;
}
#u28915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:552px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28915 {
  position:absolute;
  left:72px;
  top:218px;
  width:320px;
  height:552px;
}
#u28916 {
  position:absolute;
  left:2px;
  top:268px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u28917 {
  position:absolute;
  left:72px;
  top:218px;
  width:320px;
  height:38px;
}
#u28918 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28919 {
  position:absolute;
  left:183px;
  top:230px;
  width:39px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28920 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u28921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28922 {
  position:absolute;
  left:128px;
  top:292px;
  width:75px;
  height:26px;
}
#u28923 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u28924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28925 {
  position:absolute;
  left:247px;
  top:337px;
  width:75px;
  height:26px;
  color:#FFFFFF;
}
#u28926 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u28927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28927 {
  position:absolute;
  left:332px;
  top:336px;
  width:30px;
  height:30px;
}
#u28928 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28929 {
  position:absolute;
  left:92px;
  top:289px;
  width:30px;
  height:30px;
}
#u28930 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u28931 {
  position:absolute;
  left:86px;
  top:229px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u28932 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -3px 5px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px -3px 5px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px -3px 5px rgba(0, 0, 0, 0.0980392156862745);
  font-size:16px;
}
#u28936 {
  position:absolute;
  left:72px;
  top:697px;
  width:320px;
  height:71px;
  font-size:16px;
}
#u28937 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u28938 {
  position:absolute;
  left:83px;
  top:709px;
  width:102px;
  height:16px;
  color:#CCCCCC;
}
#u28939 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u28940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u28941 {
  position:absolute;
  left:119px;
  top:738px;
  width:23px;
  height:22px;
}
#u28942 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u28943 {
  position:absolute;
  left:162px;
  top:738px;
  width:23px;
  height:22px;
}
#u28944 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u28945 {
  position:absolute;
  left:76px;
  top:738px;
  width:23px;
  height:22px;
}
#u28946 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u28947 {
  position:absolute;
  left:249px;
  top:737px;
  width:24px;
  height:24px;
}
#u28948 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u28949 {
  position:absolute;
  left:205px;
  top:737px;
  width:24px;
  height:24px;
}
#u28950 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -3px 5px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px -3px 5px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px -3px 5px rgba(0, 0, 0, 0.0980392156862745);
  font-size:16px;
}
#u28953 {
  position:absolute;
  left:72px;
  top:697px;
  width:320px;
  height:71px;
  font-size:16px;
}
#u28954 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u28955 {
  position:absolute;
  left:103px;
  top:719px;
  width:102px;
  height:16px;
  color:#CCCCCC;
}
#u28956 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u28957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u28958 {
  position:absolute;
  left:68px;
  top:716px;
  width:23px;
  height:22px;
}
#u28959 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u28960 {
  position:absolute;
  left:323px;
  top:718px;
  width:24px;
  height:24px;
}
#u28961 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u28962 {
  position:absolute;
  left:361px;
  top:718px;
  width:24px;
  height:24px;
}
#u28963 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
